<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="http://cdn.dota2.com/apps/dota2/images/nav/logo.png" alt="Dota 2 Logo">
    &nbsp;&nbsp;<sub>BOT SCRIPTING</sub>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button">LOG IN</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">SIGN UP</button>
      </li>            
    </ul>   
  </div>
</nav>