/* 
* Home Navbar Styles 
*/

/* padding */
nav {
    padding: .6rem 8rem;    
    box-shadow: 0 1px 5px 5px #181818;
    background-image: url(http://cdn.dota2.com/apps/dota2/images/header/header_bg.png);
    /* background-repeat: no-repeat; */
    line-height: normal;
    letter-spacing: .2rem;
}

/* nav item dropdown */
#navbarSupportedContent {

}

/* navbar brand */
.navbar-brand {
    color: gray;
}

/* nav item */
.nav-item {
    margin-left: .5rem;
    margin-right: .5rem;        
}

/* button class */
.btn {
    padding-left: 2rem;
    padding-right: 2rem;
    letter-spacing: .2rem;
}


