/* You can add global styles to this file, and also import other style files */

/* Import Global Variables */
@import 'variables';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/* -- Importing bootstrap for customizability -- */

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/popover";

html, 
body {
    height: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;   
}

/* -- Global Styles -- */

/* General heading font styles */

h1, h2, h3, h4, h5, h6 {
    text-shadow: $text-shadow;
    font-family: $font-family;
}

h1, h2 {
    letter-spacing: 4px;
}

h3, h4, h5, h6 {
    letter-spacing: 2px;
}

/* Paragraph styles */

p {
    font-family:  $font-family;
}


/* -- Containers --  */

.container-fluid-custom {    
    height: 100%;
    padding-top: 2rem;
}

.frame {
    margin: 2% 3% 5% 3%;
    text-align: center;     
    color: $light-grey;
}

.banner-frame {
    width: 100%;
    text-align: center;     
    color: $light-grey;
}

.background {    
    background-repeat: no-repeat;
    background-position: center top;    
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important; 
}

.main-background {
    background-image: $general-background-image;
}


/* -- Cards -- */

.bot-manage-card {
    background-color: $dark-grey-1;
    text-align: left;   
    border: none; 
    color: $light-grey;
    height: 100%;
    width: 100%;
}

.bot-manage-card-header {
    background-color: rgba($dark-grey-2, 1);
    border: none;
}

.bot-manage-card-body {
    background-color: $dark-grey-3 !important;  
    width: 100%; 
    text-align: left;
    min-height: 100px;
}

.manage-list-group-item {
    background-color: $dark-grey-3 !important;   
    padding: 1rem 2rem 2rem 2rem !important; 
    cursor: pointer !important;
    border-radius: 0 !important;
}

.manage-list-group-item:hover {
    background-color: $dark-grey-2 !important;   
}


/* -- Heroes sections -- */

.hero-item {
    display: inline-block;
    text-align: center;    
    position: relative; 
    margin-right: 10px;
    border: 2px solid $hero-item-border-color;
    border-radius: 4px;
    background-color: $black;
    background-size: cover;    
    height: 120px;
    width: 105px;    
    cursor: pointer;           
}

.hero-item:hover {
    border: 2px solid $hero-item-border-color-hover;
    transform: scale(1.05);
    transition: 0.4s;
    z-index: 2;
}

.hero-item.selected {
    border: 2px solid white;
}

.hero-item .card-header,
.hero-item .card-body {
    padding: 1px;
}

.hero-name {     
    position: absolute;
    bottom: 0;    
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-shadow: $text-shadow;
    color: $white;
    font-family: $font-family;
}

#heroesTitle {
    color: $grey;
    text-align: center;
    font-family: $font-family;
}

/* -- Buttons -- */

button:focus {
    outline: none;
}

/* -- Custom Button Styles to mimic Dota 2 -- */ 

.button {
    padding-left: 1rem !important;
    padding-right: 1rem !important;    
    letter-spacing: .2rem !important;
    font-family: $font-family;
    text-decoration:none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -o-transition: $transition-speed;
    -ms-transition: $transition-speed;
    -moz-transition: $transition-speed;
    -webkit-transition: $transition-speed;
    transition: $transition-speed;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    cursor: pointer;
}

.button-cancel {   
    text-decoration:none;
    color: $btn-cancel-color;
    background-color: $btn-general-background-color;
    border: $btn-general-border $btn-cancel-border-color;
 }
  
.button-cancel:hover {
    text-decoration:none;
    background-color: $btn-cancel-border-color;
    color: $btn-cancel-color;
    border: $btn-general-border $btn-cancel-border-color-hover;
}

.button-generate { 
    color: $btn-generate-color !important;
    background-color: $btn-general-background-color;
    background-image: none;
    border: $btn-general-border $btn-generate-border-color;
}

.button-generate:hover {
    text-decoration:none;
    color:$btn-generate-color;
    background-color: $btn-generate-border-color;
    border-color: $btn-generate-border-color-hover;
}

.button-edit {
    color: $btn-edit-color;
    background-color: $btn-general-background-color;
    background-image: none;
    border: $btn-general-border $btn-edit-border-color;
}
  
.button-edit:hover {
    text-decoration:none;
    color: $btn-edit-color;
    background-color: $btn-edit-border-color;
    border-color: $btn-edit-border-color-hover;
}

.button-new-configuration {
    color: $btn-new-configuration-color;
    background-color: $btn-general-background-color;
    background-image: none;
    border: $btn-general-border $btn-new-configuration-color;
}
  
.button-new-configuration:hover {
    text-decoration:none;
    color: $btn-new-configuration-color;
    background-color: $btn-new-configuration-border-color;
    border-color: $btn-new-configuration-border-color-hover;
}
.button-profile {
    letter-spacing: .2rem !important;
    font-family: $font-family;
    text-decoration:none;
    display: inline-block;
    vertical-align: middle;
    font-family: $font-family;
    font-size: 85%;
    color: $white;
    opacity: 0.8;
    background-color: $btn-general-background-color;
    background-image: none;
    border:none;
    padding-top: 14px;
    
  }
  
.button-profile:hover {    
    text-decoration:none;
    opacity: 1;
    color: $white;
    background-color: $btn-profile-border-color;
    border-color: $btn-profile-border-color-hover;
    
}

/*  Dropdown Menus */

.dropdown {
    display: inline-block;
}

.dropdown-filter {    
    color: $grey;
}

.dropdown-filter:hover {
    color: $light-grey;
}

.dropdown-menu {
    background-color: $dropdown-color-hover !important;        
    border-color: $dark-grey-1 !important;
    border-radius: 2px !important; 
    min-width: 100% !important;   
}

.dropdown-item {
    color: $grey !important;
}

.dropdown-item:hover {
    background-color: $black !important;    
    color: $light-grey !important;
    cursor: pointer !important;
    padding-top: 5px;
}

.dropdown-item-danger {
    color: $red !important;
}

.dropdown-item-danger:hover {
    color: $red !important;
}


/* -- Popover styles -- */

.popover-zone {
    width: 100%;
    height: 100%;
    display: block;
}

.popover-dark {
    background-color: $dark-grey;
}

.popover-body {    
    color: $white;
}

.figure-caption {
    color: $light-grey;
}

.popover-dark .arrow:after {
    border-right-color: $dark-grey;
    border-left-color: $dark-grey;
}

.hero-attributes {
    font-family: $font-family;
}