@import '/assets/fonts.scss';

/* Global variables */
$transition-speed: .3s;
$font-family: 'Radiance';
$box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
$text-shadow: 2px 2px 5px black;
$nav-background-image: url('/assets/images/backgrounds/header_bg.png');
$general-background-image: url('/assets/images/backgrounds/main_background.jpg');
$config-nav-background-image: url('/assets/images/backgrounds/config_nav_background.jpg');
$config-title-background-image: url('/assets/images/backgrounds/config_title_background.jpg');
$home-background-image: url('/assets/images/backgrounds/create_background.png');
$generate-background-image: url('/assets/images/backgrounds/generate_background1.jpg');
$description-background-image: url('/assets/images/backgrounds/description_background.jpg');
$play-background-image: url('/assets/images/backgrounds/play_background.jpg');
$background-color: #31393C;
$page-margin-top: 1rem !important;
$page-margin-bottom: 1rem !important;

/* Global colours */
$red: #e2283b;
$light-red: #ffa7ba;
$blue: #007bff;
$green: #41a041;
$white: #dddddd;
$grey: #808080;
$orange: #FFA500;
$light-grey: #a3a3a3;
$dark-grey: #5a5a5a;
$dark-grey-1: #3d3d3d;
$dark-grey-2: #333333;
$dark-grey-3: #292929;
$black: #181818;
$light-gold: #5c482a;
$coin-gold: #fad562;
$indigo: #3f00ff;

$dropdown-color-hover:#202020 ;

/* Hero config variables */
$hero-item-color: #4585c3;
$hero-item-border-color: #263f56;
$hero-item-border-color-hover:#3a73a3;

/*Button Variables*/
$btn-general-border: 2px solid ;
$btn-general-background-color: transparent;

$btn-cancel-color: #b64f44;
$btn-cancel-border-color: #5e2d27;
$btn-cancel-border-color-hover:#b15b52;

$btn-generate-color: #5bb45b; // lightish
$btn-generate-border-color: #0e6d0e; //darker
$btn-generate-border-color-hover:#41a041; //mediumish

$btn-edit-color: #b1884f;
$btn-edit-border-color: #5b4629;
$btn-edit-border-color-hover:#876a40;

$btn-profile-color: $black;
$btn-profile-border-color: none;
$btn-profile-border-color-hover:$dropdown-color-hover;

$btn-secondary-color: $light-grey;
$btn-secondary-border-color: $light-grey;
$btn-secondary-border-color-hover: $white;

$btn-new-configuration-color: #1286b9;
$btn-new-configuration-border-color: #103d52;
$btn-new-configuration-border-color-hover: #1286b9;

/*Faction Colours*/
$radiant-border-color: #00a4dd;
$radiant-border-color-dim: rgba(0, 164, 221, 0.5);
$radiant-card-background-color: rgba(15, 57, 68, 0.8);
$alert-radiant-color: #234661;

$dire-border-color: #ae3207;
$dire-border-color-dim: rgba(174, 50, 7, 0.5);
$dire-card-background-color: rgba(112, 42, 23, 0.7);

/* Item config variables */
$item-color: #4585c3;
$item-border-color: #263f56;
$item-border-color-hover:#3a73a3;
