<div id="walkthroughContainer" class="container-fluid background main-background">
    <div class="walkthrough-title">
        <br>
        <h2>GETTING STARTED</h2>
        <br>
        <p>
            Follow the steps below to get started with using your own custom bot scripts in game!
            <br>
            For more information, see the <a href="https://github.com/301-Redirection/DBC/raw/master/documentation/UserManual.pdf">User Manual.</a>
        </p>
        <a class="link" (click)="scroll(uploadScripts)">Upload Bot Scripts Locally</a>
        &nbsp;|&nbsp;
        <a class="link" (click)="scroll(enableScriptsInDota)">Start Playing With Scripts</a>
        <br><br>
    </div>

    <div class="frame tutorial-frame">
        <div class="card config-card">
            <div class="card-body">
                <h5 #uploadScripts id="uploadScripts" class="card-title">How to upload bot scripts locally</h5>
                <div class="tutorial">
                    <ol>
                        <li>Generate your code package: Click the generate button of the bot script you configured</li>
                        <li>Navigate to your steam directory:</li>
                        <ul>
                            <li><span class="path">Windows: “C:\Program Files (x86)\Steam”</span></li>
                            <li><span class="path">Mac: "Users/&lt;USERNAME&gt;/Library/Application Support/Steam</span></li>
                            <li><span class="path">Linux: "~/.steam/steam/SteamApps/common"</span></li>
                        </ul>
                        <li>Follow the corresponding path:</li>
                        <ul>
                            <li><span class="path">/steamapps/common/dota 2 beta/game/dota/scripts/vscripts/</span></li>
                        </ul>
                        <div class="tutorial-image">
                            <img class="img img-fluid" src="../../assets/images/tutorial/steamScriptDirectory.png" heigth="700" width="700">
                        </div>
                        <li>Note: If there is no <i>bots</i> folder, then create the folder</li>
                        <div class="tutorial-image">
                            <img class = "img img-fluid" src="../../assets/images/tutorial/steamScriptDirectoryBotFolderCreated.png" heigth="700" width="700">
                        </div>
                        <li>Copy the downloaded zip into the <i>bots</i> folder above</li>
                        <div class="tutorial-image">
                            <img class="img img-fluid" src="../../assets/images/tutorial/steamScriptDirectoryPasteZip.png" heigth="700" width="700">
                        </div>
                        <li>Extract the zip containing the code into this directory. If you do not have such software, you can download <a href= "https://www.win-rar.com/download.html?&L=0">WinRar</a> or <a href = "https://www.7-zip.org/download.html">7zip</a></li>
                        <div class="tutorial-image">
                            <img class="img img-fluid" src="../../assets/images/tutorial/steamScriptDirectoryExtractZip.png" heigth="700" width="700">
                        </div>
                        <li>It is not essential to delete the zip file, however you may wish to.</li>
                        <li>At the end of this walkthrough, your directory should look similar to the following:</li>
                        <div class="tutorial-image">
                            <img class="img img-fluid" src="../../assets/images/tutorial/finalExtractedScripts.png" height="700" width="700">
                        </div>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="frame tutorial-frame">
        <div class="card config-card">
            <div class="card-body">
                <h5 #enableScriptsInDota id="enableScriptsInDota" class="card-title">How to start a game with custom bot scripts</h5>
                <div class="tutorial">
                    <ol>
                        <li><a class="link" (click)="scroll(uploadScripts)">Upload your bot scripts locally</a></li>
                        <li>Launch Dota 2</li>
                        <div class="tutorial-image">
                            <img class="img img-fluid" src="../../assets/images/tutorial/dotaMainInterface.png" height="700" width="700">
                        </div>
                        <li>After clicking the play button, click create under the custom lobbies tab</li>
                        <div class="tutorial-image">
                            <div class="row">
                                <div class="col-lg-5 tutorial-image">
                                    <img class="img img-fluid img-col " src="../../assets/images/tutorial/dotaLobbyCreate.png">
                                </div>
                                <div class="col-lg-3 tutorial-image">
                                    <img class="img img-fluid img-col" src="../../assets/images/tutorial/anotated/dotaCreateLobby.png">
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                        <li>Click on the Edit button (small gear add icon)</li>
                        <div class="tutorial-image">
                            <img class="img img-fluid" src = "../../assets/images/tutorial/anotated/dotaLobbyEditButton.png">
                        </div>
                        <li>You may have to open the advanced settings tab</li>
                        <div class="tutorial-image">
                            <img class="img img-fluid" src="../../assets/images/tutorial/anotated/dotaLobbyAdvancedLobbySettings.png" height="600" width="600">
                        </div>
                        <li>You will see a tab labelled “Bot settings”: 
                            <ol type="i">
                                <li>Although this is not essential, it is recommended that cheats are enabled.</li>
                                <div class="tutorial-image">
                                    <img class="img img-fluid" src="../../assets/images/tutorial/anotated/dotaLobbyEnableCheats.png" height="800" width="800">
                                </div>
                                <li>Ensure that the checkbox “fill empty slots with bots” is checked</li>
                                <div class="tutorial-image">
                                    <img class="img img-fluid" src="../../assets/images/tutorial/anotated/dotaLobbyFillEmptySlots.png" height="300" width="300">
                                </div>
                                <li>On any side(s) of the map where the custom bots are desired to be used, click the dropdown and select the local dev script option</li>
                                <div class="tutorial-image">
                                    <img class="img img-fluid" src="../../assets/images/tutorial/anotated/dotaLobbyChooseBotType.png" height="300" width="300">
                                </div>
                            </ol>
                        </li>
                        <li>In Summary, your lobby settings should look similar to the following image</li>
                        <div class="tutorial-image">
                            <img class="img img-fluid" src="../../assets/images/tutorial/dotaLobbyEnableBots.png" height="700" width="700">
                        </div>
                        <li>Start playing!</li>
                        <div class="tutorial-image">
                            <img class="img img-fluid" src="../../assets/images/tutorial/anotated/dotaLobbyStartGame.png" height="500" width="500">
                        </div>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>