/* Global Variables */
@import '../../variables';

#walkthroughContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.walkthrough-title {
    text-align: center;
    color: $light-grey;
}

.link {
    color: #007bff !important;
    cursor: pointer;
}

.img {
	border: 5px solid $dark-grey-3;
    border-radius: 2px;
    margin-bottom: 20px;
}

.img-col {
    padding: 0 !important;
}

/* Card CSS */
.config-card {
    height: 100%;
    background-color: rgba($dark-grey-2, 0.8);
    text-align: left;
    color: $light-grey;
}

.path {
	// background-color: $light-red;
	color: $green;
}

.card-title {
    font-size: 26px;
    text-align: center;
}

.card-body {
	font-size: 18px;
}

.tutorial {
    margin-top: 20px;
}

.tutorial ol li,
.tutorial ol ul {
    margin-bottom: 10px;
}