/* Global Variables */
@import '../../variables';

.img {
	border: 5px solid $dark-grey-3;
	border-radius: 2px;
}

/* Card CSS */
.config-card {
    height: 100%;
    background-color: rgba($dark-grey-2, 0.8);
    text-align: left;
    color: $light-grey;    
}

.path {
	// background-color: $light-red;
	color: $green;
}

.card-title {
	font-size: 30px;
}

.card-body {
	font-size: 18px;
}