{
	"MySQL": {
	  "development": {
	    "username": "someusername",
		"password": "somepassword",
	    "database": "test",
	    "host": "127.0.0.1",
	    "dialect": "mysql"
	  },
	  "test": {
	    "username": "someusername",
    	"password": "somepassword",
	    "database": "database_test",
	    "host": "127.0.0.1",
	    "dialect": "mysql"
	  },
	  "production": {
	    "username": "someusername",
    	"password": "somepassword",
	    "database": "database_production",
	    "host": "127.0.0.1",
	    "dialect": "mysql"
	  }
	}
}