{
    "development": {
        "username": "someusername",
        "password": "somepassword",
        "database": "test",
        "host": "127.0.0.1",
        "dialect": "mysql"
    },
    "test": {
        "username": "someusername",
        "password": "somepassword",
        "database": "database_test",
        "host": "127.0.0.1",
        "dialect": "mysql"
    },
    "production": {
        "username": "someusername",
        "password": "somepassword",
        "database": "database_production",
        "host": "127.0.0.1",
        "dialect": "mysql"
    }
    "app": {
        "API_URL": "http://localhost:3000"
    },
    "LUA": {
        "essentialFilesToInclude":   [
            "BotNameUtility.lua",
            "mode_attack_spirit_breaker.lua",
            "mode_laning_generic.lua",
            "mode_push_tower_mid_generic.lua",
            "mode_push_tower_top_generic.lua",
            "mode_push_tower_bot_generic.lua",
            "mode_roam_spirit_breaker.lua",
            "mode_rune_generic.lua",
            "mode_secret_shop_generic.lua",
            "mode_side_shop_generic.lua",
            "mode_side_shop_enigma.lua",
            "mode_side_shop_keeper_of_the_light.lua",
            "mode_side_shop_shadow_shaman.lua",
            "mode_side_shop_windrunner.lua",
            "mode_team_roam_generic.lua",
            "mode_ward_generic.lua",
            "MinionUtility.lua",
            "NewMinionUtil.lua",
            "PushUtility.lua",
            "RoleUtility.lua",
            "utility.lua",
            "WardUtility.lua"
        ],
        "poolNames" : [
            "hero_pool_position_1",
            "hero_pool_position_2",
            "hero_pool_position_3",
            "hero_pool_position_4",
            "hero_pool_position_5"
        ]
    }
}