public/ linguist-detectable=false
backend/static/codeTemplates linguist-detectable=false
backend/static/codeTemplates/abilityTemplates/*.lua linguist-detectable=false
backend/static/codeTemplates/itemTemplates/*.lua linguist-detectable=false
backend/static/codeTemplates/heroSelectionTemplate/*.lua linguist-detectable=false