public/ linguist-generated=true
backend/static/codeTemplates linguist-generated=true
backend/static/codeTemplates/abilityTemplates/*.lua linguist-generated=true
backend/static/codeTemplates/itemTemplates/*.lua linguist-generated=true
backend/static/codeTemplates/heroSelectionTemplate/*.lua linguist-generated=true