/* 
* Home Navbar Styles 
*/

/* padding */
nav {
    padding: .6rem 5rem;    
    box-shadow: 0 1px 5px 5px #181818;    
    background-image: url(http://cdn.dota2.com/apps/dota2/images/header/header_bg.png);    
    background-repeat: no-repeat;
    line-height: normal;
    letter-spacing: .2rem;
}

/* navbar brand */
.navbar-brand {
    color: var(--grey);
    font-family: 'Radiance';    
}
.navbar-brand:hover {
    color: rgb(143, 143, 143);    
}

#dota-2-logo { 
    opacity: 0.8; 
} 
#dota-2-logo:hover { 
    opacity: 1; 
} 

#bot-scripting-title {
    font-size: 60%;
}


/* nav items */

#nav-links-list {
    margin-left: .5rem;
}

.nav-item {
    margin-left: .5rem;
    margin-right: .5rem;        
    font-family: 'Radiance';    
}

.nav-link {
    font-size: 85%;
    color: var(--light-grey) !important;
    padding-top: 14px !important;
}
.nav-link:hover {
    color: #dddddd !important;
}

/* button class */
.btn {
    padding-top: .5rem;        
}
