<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">
        <img id="dota-2-logo" src="http://cdn.dota2.com/apps/dota2/images/nav/logo.png" alt="Dota 2 Logo">
        &nbsp;<sub id="bot-scripting-title">BOT SCRIPTING</sub>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="navbar-toggler-icon"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">    
        <!-- Show only if logged in -->
        <ul class="navbar-nav mt-2 mt-lg-0" id="nav-links-list" *ngIf="auth.loggedIn">                  
            <li class="nav-item">
                <a id="dashboard-link" routerLink="/dashboard" class="nav-link">DASHBOARD</a>
            </li>            
            <li class="nav-item">
                <a id="config-link" routerLink="/bot-config" class="nav-link">CONFIGURATION</a>
            </li>            
            <li class="nav-item">
                <a id="manage-link" routerLink="/bot-management" class="nav-link">MANAGE</a>
            </li>
        </ul>
        
        <ul class="navbar-nav ml-auto" >
            <!-- Show only if not logged in -->
            <li class="nav-item" *ngIf="!auth.loggedIn">
                <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="button" id="logInButton" (click)="auth.login()">
                    <i class="fas fa-sign-in-alt"></i>&nbsp;
                    LOG IN
                </button>                
            </li>   

            <!-- Show only if logged in -->
            <li class="nav-item" *ngIf="auth.loggedIn">
                <div class="btn-group">
                    <button id="welcome-btn" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>&nbsp;
                        Hello, {{auth.userProfile?.given_name}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">                        
                        <button class="dropdown-item dropdown-item-danger" type="button" (click)="auth.logout()"><i class="fa fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out</button>          
                    </div>
                </div>
            </li>                         
        </ul>
    </div>
</nav>