/* 
* Home Navbar Styles 
*/

/* Import Global Variables */
@import '../../variables';

$nav-background-color: $black ; 

/* padding */
nav {
    width: 100%;
    padding: .6rem 5rem;    
    box-shadow: 0 1px 5px 5px $black;   
    background-color: $black !important;
    background-image: url(http://cdn.dota2.com/apps/dota2/images/header/header_bg.png);    
    background-repeat: no-repeat;
    line-height: normal;
    letter-spacing: .2rem;
}
 
/* navbar brand */
.navbar-brand {    
    font-family: $font-family;    
    opacity: 0.8;
    margin-right: auto;
}
.navbar-brand:hover {
    opacity: 1;
}
 
#botScriptTitle {
    color: $light-grey;
    font-size: 60%;
}
 
 
/* Hamburger */
 
#hamburger {
    padding: 5px;
}
 
#hamburger:focus,
#hamburger:active {    
    outline: none;
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {    
    background-color: $grey;
}
 
.navbar-toggler {
    border: none;
}
 
 
/* nav items */
 
#navLinksList {
    margin-left: .5rem;    
}
 
.nav-item {
    margin-left: .5rem;
    margin-right: .5rem;        
    font-family: 'Radiance';    
}
 
.nav-link {
    font-size: 85%;
    color: $light-grey !important;
    padding-top: 14px !important;
}
 
.nav-link:hover {
    color: $white !important;
}
 
/* button class */
.btn {
    padding-top: .5rem;            
}

#welcomeButton {
    padding-top: 14px;
    border: none !important;
    color: $light-grey;
}
 
#welcomeButton:hover {
    color: white;
}
 
#welcomeButton:focus {
    color: white;
}
 
.button-profile {
    font-family: 'Radiance';
    text-decoration:none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 85%;
    color: $light-grey !important;
    padding-top: 14px !important;
    background-color: transparent;
    background-image: none;
    border:none;
}
  
.button-profile:hover {
    text-decoration:none;
    color: white;
    background-color: $black;
    border: none;
}
 
/*
 |--------------------------------------
 | Responsive
 |--------------------------------------
 */

 @media only screen and (max-width: 1050px) {
    nav {
        padding-left: 2rem;
        padding-right: 2rem;  
    }
}
 
@media only screen and (max-width: 995px) {
    #logInButton {
        margin-top: 4% !important;        
    }  
    
    #navLinksList {
        margin-top: 3% !important;
    }
}
 
@media only screen and (max-width: 750px) {
    nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }    
 
    #welcomeButton {
        margin-top: 2%;
    }
 
    #logInButton {
        margin-top: 5% !important;
    }
}
 
@media only screen and (max-width: 450px) {
    nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    #dotaLogo {
        height: 24px !important;
    }
 
    #botScriptTitle {
        font-size: 50%;
        letter-spacing: .1rem;
    }    
 
    #navLinksList {
        margin-top: 5% !important;
    }
 
    #logInButton {
        margin-top: 10% !important;
    }
}
 