<div class="container-fluid background main-background">
    <div class="frame home-heading-frame">
        <h1 id="createBotsTitle" class="home-heading heading">Create DOTA 2 Bots Your Way</h1>
        <br>
        <h3 class="heading">Customize your own bots to play how you want them to play.</h3>
        <br>
        <div class="get-started-buttons">
            <button class="button button-new-configuration btn-lg" (click)="navigate('/bot-config')">GET STARTED</button>
            <button class="button button-generate" routerLink="/walkthrough">LEARN HOW</button>
        </div>
    </div>
    <div class="frame steps-frame">
        <h5>Create and download custom bot scripts easily and quickly</h5>
        <br>
        <div class="row steps-row">
            <div class="col-1"></div>
            <div class="col-2">
                <div id="createStep" class="round-border ml-auto">
                    <div class="mt-4">
                        <i class="fas fa-pencil-alt fa-2x"></i><br><br>
                        <h5>CREATE</h5>
                    </div>
                </div>
            </div>
            <div id="firstArrow" class="col-1 arrow">
                <i class="fas fa-angle-double-right fa-3x"></i>
            </div>
            <div class="col-3">
                <div id="generateStep" class="round-border mx-auto">
                    <div class="mt-4">
                        <i class="fas fa-download fa-2x"></i><br><br>
                        <h5>GENERATE</h5>
                    </div>
                </div>
            </div>
            <div id="secondArrow" class="col-1 arrow">
                <i class="fas fa-angle-double-right fa-3x"></i>
            </div>
            <div class="col-2">
                <div id="playStep" class="round-border mr-auto">
                    <div class="mt-4">
                        <i class="fas fa-gamepad fa-2x"></i><br><br>
                        <h5>PLAY</h5>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="frame banner-video">
        <iframe id="demoVideo" src="https://www.youtube.com/embed/n5Nv3kvLO1w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <br>
</div>

