/* -- HOME STYLES -- */


/* Global Variables */
@import '../../variables';

.home-heading-frame {
    padding-top: 5rem;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.home-heading {
    font-size: 45px !important;
}

.heading {
    color:  #5C6163;
}

.get-started-buttons {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.get-started-buttons button {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 3.5rem;
    width: 10rem;
}

.steps-frame {
    // margin-top: 1rem !important;
    margin-bottom: 6rem;
    text-align: center;
}

.steps-row {
    height: 10rem;
}

.round-border {
    border: 1px solid $light-grey;
    border-radius: .2rem;
    width: 10rem;
    height: 10rem;
    background-color: rgba(63, 63, 63, 0.8);
    border-color: $dark-grey-1;
}

#createStep {
    color: $btn-new-configuration-color;
}

#generateStep {
    color: $btn-generate-color;
}

#playStep {
    color: $btn-cancel-color;
}

.arrow {
    margin-top: 3rem;
}

#firstArrow {
    margin-left: auto;
}

#secondArrow {
    margin-right: auto;
}

#demoVideo {
    background-color: $black;
    width: 1000px;
    height: 600px;
}

.container-home {
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}

.containerDescription {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/blog/play/bg_05.jpg');
    background-size: auto 100%;
    background-position: right bottom;
    background-color: #0c0f11;
    width: 100%;
}

.container-inner {
    padding: 128px 0 0 643px;
    height: 680px;
    background: transparent;
    padding: 100px 10%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    float: right;
}

.contain-create-inner{
    float: right;
}
.container-create {
    background-image: $home-background-image;
    background-size: auto 80%;
    background-position: left center;
    background-color: #0c0f11;
    width: 100%;
}
.container-generate {
    background-image: $generate-background-image;
    background-size: 100%;
    background-position: right center;
    background-color: #161b1d;
    width: 100%;
}

.container-play {
    background-image: $play-background-image;
    background-size: 100% auto;
    background-position: right center;
    background-color: #161b1d;
    width: 100%;
}

.logo {
    width: 1000px;
    float: none;
    vertical-align: middle;
}

.dbc-title {
    display: block;
    color: #A69E99;
    letter-spacing: .8vw;
    text-shadow: 2px 2px 5px #000000;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-weight: inherit;
    font-style: inherit;
    font-size: 150%;
    font-family: inherit;
}

.description-background {
    height: 972px;
    background-color: #000000;
    background-image: url('http://cdn.dota2.com/apps/dota2/images/blog/play/bg_07.jpg');
    background-size: auto 100%;
    background-position: top center;
    width: 100%;
}