<div class="container-fluid background main-background">
    <div class="container-inner logo text-center container-start-inner pb-2">
        <img class="align-content-center " [src]='dotaLogoURL'>
        <h1 class="dbc-title">BOT CONFIGURATOR</h1>
        <br>
        <h5 class="heading">Customize your own bots to play how you want them to play</h5>
        <div class="get-started-buttons">
            <button class="button button-new-configuration btn-lg" (click)="navigate('/bot-config')">GET STARTED</button>
            <button class="button button-generate" routerLink="/walkthrough">LEARN HOW</button>
        </div>
    </div>
    <div class="float-none text-center pb-4 mb-2">
        <iframe id="demoVideo" src="https://www.youtube.com/embed/n5Nv3kvLO1w" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen>
        </iframe>
    </div>
</div>
<div class="container-fluid container-home container-description">
    <div class="row">
        <div class="col">
            <div class="container-inner float-left">
                <div class="frame home-heading-frame">
                    <h1 id="createBotsTitle" class="home-heading heading">Create DOTA 2 Bots Your Way</h1>
                    <br>
                </div>
                <div class="frame steps-frame">
                    <h5>Create and download custom bot scripts easily and quickly</h5>
                    <br>
                    <p>
                        The days of coding scripts tediously to customize bot behaviour are now in the past.
                        This system aims to allow anyone to create their own scripts through the use of a graphical interface,
                        while still allowing considerable customizability in areas such as Team Desires, Heroes, Abilities, and Items.
                    </p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    
</div>
<div id="Container_04" class="container-fluid container-home container-create">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="container-inner">
                <h1 class="home-heading heading"><i class="fas fa-pencil-alt fa-1x mr-3"></i> CREATE</h1>
                <br><br>
                <div class="frame steps-frame">
                    <h5>Create and Edit custom bot scripts</h5>
                    <p>
                        Give your custom scripts a title and description, then begin creating your custom bot script. Create custom team desires
                        to your bots to follow based on events that occur during the game. Pick the heroes and the pools that they
                        should belong to, then customize each hero's abilities and item builds, all using a simple, powerful interface.
                        Once you are satisfied with the bot script you have created simply save it, to be able to pick up later.
                    </p>
                    <div class="home-heading heading text-center">
                        <i class="fas fa-angle-double-down fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
<div id="Container_04" class="container-fluid container-home container-generate">
    <div class="row">
        <div class="col">
            <div class="container-inner contain-create-inner">
                <h1 class="home-heading heading"><i class="fas fa-download fa-2x mr-3"></i> GENERATE</h1>
                <br><br>
                <div class="frame steps-frame">
                    <h5>Download the custom bot script you have created</h5>
                    <p>
                        Once you have created a custom bot script, simply click generate and our system will create your custom script by generating
                        the Lua scripts needed to implement the custom behaviour you requested. Once the scripts are created
                        they are downloaded onto your system, after which you just need to follow our simple installation
                        guide to install the script to Dota 2.
                    </p>
                    <div class="home-heading heading text-center">
                        <i class="fas fa-angle-double-down fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<div id="Container_04" class="container-fluid container-home container-play">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="container-inner">
                <h1 class="home-heading heading"><i class="fas fa-gamepad fa-2x mr-3"></i> PLAY</h1>
                <br><br>
                <div class="frame steps-frame">
                    <h5>Play. Create endless custom bot behaviours and strategies</h5>
                    <p>
                        Begin to play against your custom bot script after following the easy installation guide. You can use the custom bot script
                        you have created to improve your Dota skills against different strategies without any other influences
                        affecting your game play. Improve your Dota skills, quickly, simply and easily.
                    </p>
                    <div class="home-heading heading text-center">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>