<div class="container-fluid container-fluid-custom background main-background">
  <div class="row mt-5 mb-5">
    <div class="col-12" id="itemsTitle">
      <h3>ITEM CONFIGURATION</h3>
    </div>
  </div>

  <!-- Hero list -->
  <!--TODO: Make Component to be imported-->
  <div class="row mb-5">
    <div class="card heroes-card">
      <div class="card-header">
        <h5>SELECTED HEROES</h5>
      </div>
      <div class="card-body">
        <div class="hero-item" *ngFor="let hero of selectedHeroes; let i=index" (click)="setSelectedHero(i)">
          <div class="hero-name">
            {{ hero.name }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="toggleButtonDiv" class="mb-2">
    <button type="button" class="button button-cancel mx-2" (click)="reset()">
      <i class="fas fa-undo mr-1"></i>
      Reset
    </button>
  </div>

  <!-- List table -->
  <div class="row mb-5">
    
    <div class="col-md-2">
      <div class="card heroes-card">
        <div class="card-header">
          <h6>SELECTED ITEMS</h6>
        </div>
        <div class="card-body">
          <div class="drop-zone" [sortablejs]="selectedItemsArray" [sortablejsOptions]="optionsTarget">
            <div class="card hero-item" *ngFor="let w of selectedItemsArray">
              <div class="card-body">
                <div data-toggle="popover" 
                   data-trigger="hover"
                   data-placement="auto" 
                   data-html="true"
                   [attr.data-content]="w.cost" 
                   [attr.title]="w.niceName">
                <img [src]="w.url" >
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card heroes-card">
        <div class="card-header">
          <h6>BASICS</h6>
        </div>
        <div class="card-body">
          <div class="drop-zone" [sortablejs]="basicItems" [sortablejsOptions]="optionsSource">
            <div  class="hero-item" *ngFor="let item of basicItems" (dblclick)="addItemToList(item)" >
              <div data-toggle="popover" 
                   data-trigger="hover"
                   data-placement="auto" 
                   data-html="true"
                   [attr.data-content]="item.cost" 
                   [attr.title]="item.niceName">
                <img [src]="item.url" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card heroes-card">
        <div class="card-header">
          <h6>UPGRADES</h6>
        </div>
        <div class="card-body">
          <div class="drop-zone" [sortablejs]="upgradeItems" [sortablejsOptions]="optionsSource">
            <div  class="hero-item" *ngFor="let item of upgradeItems" (dblclick)="addItemToList(item)" >
              <div data-toggle="popover" 
                   data-trigger="hover"
                   data-placement="auto" 
                   data-html="true"
                   [attr.data-content]="item.cost" 
                   [attr.title]="item.niceName">
                <img [src]="item.url" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>