/* Global Variables */
@import '../../variables';
@import '../heroes/heroes.component.scss';

.item {
    display: inline-block;
    margin-right: 5px;
    border: 2px solid $btn-generate-border-color;
    background-color: $black;
    height: 64px;
    width: 85px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;    
}

.item:hover {
    border: 2px solid $btn-generate-border-color-hover;
}

.hero-selected {
    border: 2px solid $btn-generate-border-color-hover;
}

.item .card-header,
.item .card-body {
    padding: 1px;
}

.item-selected {
    height: 90px;
    width: 100px;
}

.item-selected-card {
    height: 100%;
    background-color: rgba($dark-grey-2, 0.8);
    text-align: left;
    color: $light-grey;  
    width: 100%;
}
#removeIcon {
    color: $red;
    float: right;
    z-index: 100;
}

.items-position {
    position: absolute;
    float: left;
    margin: 0px
}

.hero-card {
    height: 100%;
    background-color: rgba($dark-grey-2, 0.8);
    text-align: left;
    color: $light-grey;  
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;  
}