<div id="heroComponent" class="container-fluid container-fluid-custom">
    <div class="row">
        <div class="col-12 config-description">
            Click & drag or double-click to select your preferred heroes
        </div>
    </div>

    <!-- Hero list -->
    <div class="frame row mb-5">
        <div class="card bot-manage-card">
            <div class="card-header bot-manage-card-header">
                <h5 id="heroesHeader">HEROES</h5>
                <input [(ngModel)]="heroSearch" name="heroSearch" id="heroSearch" type="text" class="form-control" placeholder="&#xF002; Search">
            </div>
            <div class="bot-manage-card-body card-body">
                <div class="class-title">
                    <img src="https://d1u5p3l4wpay3k.cloudfront.net/dota2_gamepedia/thumb/7/7a/Strength_attribute_symbol.png/30px-Strength_attribute_symbol.png?version=6306b398d1e0dddfd5f3d1719c6e3c71" alt="Strength symbol">&nbsp;
                    <h6>Strength</h6>
                </div>
                
                <div class="drop-zone text-center" [sortablejs]="strengthHeroes" [sortablejsOptions]="optionsSource">
                    <app-hero-item *ngFor="let hero of strengthHeroes | filter : heroSearch" (dblclick)="moveSelectedHero(hero)" (drag)="$event.preventDefault()" (dragstart)="setSelectedHero(hero)" [hero]="hero" [isSelectedHero]="false" [isHover]="false"></app-hero-item>
                </div>
                <br><br>

                <div class="class-title">
                    <img src="https://d1u5p3l4wpay3k.cloudfront.net/dota2_gamepedia/thumb/2/2d/Agility_attribute_symbol.png/30px-Agility_attribute_symbol.png?version=2bb35660c66454fc3b024fdb19b9ee29" alt="Agility symbol">&nbsp;
                    <h6>Agility</h6>
                </div>
                <div class="drop-zone text-center" [sortablejs]="agilityHeroes" [sortablejsOptions]="optionsSource">
                    <app-hero-item *ngFor="let hero of agilityHeroes | filter : heroSearch" (dblclick)="moveSelectedHero(hero)" (drag)="$event.preventDefault()" (dragstart)="setSelectedHero(hero)" [hero]="hero" [isSelectedHero]="false" [isHover]="false"></app-hero-item>
                </div>
                <br><br>

                <div class="class-title">
                    <img src="https://d1u5p3l4wpay3k.cloudfront.net/dota2_gamepedia/thumb/5/56/Intelligence_attribute_symbol.png/30px-Intelligence_attribute_symbol.png?version=aea75b8d40acffb8f90549a9ff6cdecb" alt="Intelligence symbol">&nbsp;
                    <h6>Intelligence</h6>
                </div>
                <div class="drop-zone text-center" [sortablejs]="intelligenceHeroes" [sortablejsOptions]="optionsSource">
                    <app-hero-item *ngFor="let hero of intelligenceHeroes | filter : heroSearch" (dblclick)="moveSelectedHero(hero)" (drag)="$event.preventDefault()" (dragstart)="setSelectedHero(hero)" [hero]="hero" [isSelectedHero]="false" [isHover]="false"></app-hero-item>
                </div>
            </div>
        </div>
    </div>

    <!-- Pool table -->
    <div sortablejs id="selectedFrame" class="frame row mb-1">
        <div class="card bot-manage-card-body">
            <div id="selectedFrameHeader" class="bot-manage-card-header card-header">
                <h5 id="cardHeaderText">SELECTED</h5>&nbsp;&nbsp;
                <i id="selectedFrameChevron" class="fas fa-chevron-up"></i>
                <div id="selectedButtons" class="float-right">
                    <button id="resetPoolsBtn" type="button" class="button button-cancel mx-2" (click)="triggerResetPools()">
                        <i class="fas fa-undo mr-1"></i>
                        Reset
                    </button>
                    <button id="togglePoolsBtn" class="button button-generate mx-2" (click)="confirmTogglePools()">
                        <i class="fas fa-exchange-alt mr-1"></i>
                        Toggle Pools
                    </button>
                </div>
            </div>
            <ul id="poolTabs" class="nav nav-tabs">
                <li class="nav-item" *ngFor="let pool of getPools(); let i = index;">
                    <a sortablejs [id]="'poolLink'+i" class="nav-link pool-nav-link" [ngClass]="selectedPool == i ? 'active' : ''" (click)="setSelectedPool(i)" (dragenter)="highlightPool(i)" (dragleave)="unhighlightPool(i)" (drop)="addHero(selectedHero, i)">
                        Pool {{ i + 1 }}
                        <div [id]="'poolPlusIconCont'+i" class="pool-plus-icon-cont">
                            <i class="pool-plus-icon fas fa-plus"></i>
                        </div>
                    </a>
                </li>
            </ul>
            <div id="heroDropZone" class="card-body selected-card-body bot-manage-card-body">
                <div class="drop-zone" sortablejs [sortablejsOptions]="optionsTarget" (drop)="addHero(selectedHero, selectedPool)">
                    <app-hero-item *ngFor="let hero of pools[selectedPool]" [hero]="hero" [isSelectedHero]="true" [pool]="pools[selectedPool]" (removeHeroEmitter)="onRemoveHero($event)" [isHover]="false"></app-hero-item>
                </div>
            </div>
        </div>
    </div>
</div>
    