/* Global Variables */
@import '../../../variables';

#poolTabs {
    border-bottom-color: $light-grey;
}

.nav-item {
    cursor: pointer;
    width: 20%;    
}

.nav-link.active {
    background-color: $light-grey;    
    border-color: $light-grey;
}

.nav-link:hover {
    border-color: $light-grey !important;    
}

.nav-link.active:hover {
    color: $dark-grey-2;
}

#cardHeaderText {
    display: inline-block;
}

.drop-zone {
    min-height: 160px;
}

#selectedFrame {
    margin-top: 0;
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    transition: 0.3s;
}

.class-title {    
    margin-bottom: 5px;
}

.class-title h6 {
    display: inline-block;
}

.class-title img {
    height: 25px;
}

#togglePoolsBtn {
    margin-right: 1px !important;
}

#heroesHeader {
    display: inline-block;   
}

#heroSearch {    
    font-family: Arial, FontAwesome;    
    width: 20%;
    float: right;
    border-radius: 100px;
    background-color: $dark-grey-1;
    border-color: $dark-grey-3;
    color: $light-grey;
}

#heroSearch:focus {
    outline: none !important;
}

.pool-plus-icon {    
    color: $green;    
}

.pool-plus-icon-cont {
    float: right;
    visibility: hidden;
}