<div id="itemComponent" class="container-fluid container-fluid-custom">
    <div class="row">
        <div class="col-12 config-description">
            <!-- <h3>ITEM SELECTION</h3><br> -->
            Select your item guide for each hero by double clicking items from the list below
        </div>
    </div>

    <!-- Hero list -->
    <div class="frame row mb-5">
        <div class="card bot-manage-card">
            <div class="card-header bot-manage-card-header">
                <h5 class="align-middle">CHOOSE A HERO</h5>
            </div>
            <div class="card-body bot-manage-card-body">
                <app-hero-item *ngFor="let hero of selectedHeroes; let i=index" (click)="setSelectedHero(i); onSelect(hero);" [class.selected]="hero === currentHero" [hero]="hero" [currentHero]="currentHero" [isSelectedHero]="false" [isHover]="true"></app-hero-item>
                <div *ngIf="selectedHeroes.length == 0">
                    <h6 class="text-center">No Selected Heroes</h6>
                </div>
            </div>
        </div>
    </div>

    <!-- List table -->
    <div class="frame mb-1" *ngIf="selectedHeroes.length != 0">
        <div class="card-header container-fluid bot-manage-card-header ">
            <div class="text-left mb-0 pb-0 bot-manage-card-header">
                <h5 id="itemsHeader">CHOOSE ITEMS FOR EACH HERO</h5>
                <input [(ngModel)]="itemSearch" name="itemSearch" id="itemSearch" type="text" class="form-control" placeholder="&#xF002; Search">
            </div>
        </div>
        <div class="card-body bot-manage-card-body container-fluid">
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="card bot-manage-card">
                        <div class="card-header container-fluid bot-manage-card-header ">
                            <div class="d-flex justify-content-between">
                                <div class="p-2">
                                    <h5 class="align-middle">SELECTED ITEMS</h5>
                                </div>
                                <div class="p-2"><img class="float-left" [src]="dotaGoldIconURL" height="30px">
                                    <div class="ml-4 pl-3">
                                        <b>{{totalCostPerHero[selectedHeroIndex]}}</b>
                                    </div>
                                </div>
                                <div class="p-2"><button id="clearHeroItemsBtn" type="button" class="btn button-cancel float-right" (click)="clearItemsSelectedHero()">
                                        <i class="far fa-trash-alt"></i>
                                    </button></div>
                            </div>
                        </div>
                        <div class="card-body bot-manage-card-body drop-zone item-card-container-border" sortablejs [sortablejsOptions]="optionsTarget" (drop)="addItemToList(selectedItem)">
                            <div *ngIf="heroItemSelection[selectedHeroIndex].length == 0">
                                <h6 class="text-center">No items selected for {{selectedHeroes[selectedHeroIndex].niceName}}</h6>
                                <h6 class="text-center mt-2 text-muted">Items purchased according to the order of shown here</h6>
                                <h6 class="text-center text-muted mt-2">Drag an item up or down to change it's position</h6>
                            </div>
                            <div class="card selected-item-card mb-2 container-fluid" *ngFor="let item of heroItemSelection[selectedHeroIndex]; let index = i; trackBy: trackItem" [id]="'s'+ item.id +'_'+ i">
                                <div class="card-header row">
                                    <div class="d-flex flex-row w-100">
                                        <div class="p-0 align-middle mr-2">
                                            <img class="selected-item-img pt-1" [src]="item.url">
                                        </div>
                                        <div class="p-0 w-100 ml-0 d-flex flex-row flex-wrap">
                                            <div class="d-flex flex-row float-left w-100">
                                                <div class="p-2">
                                                    <h5 class="h5 align-bottom">
                                                        {{item.niceName}}
                                                    </h5>
                                                </div>
                                                <div class="p-2 ml-auto float-right">
                                                    <button class="btn button-cancel float-right" (click)="removeItemFromList(item)">
                                                        <i id="removeItemIcon" class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row cost-item justify-content-center">
                                                <div class="p-0 align-top">
                                                    <img class="p-0 float-left selected-item-gold-img" [src]="dotaGoldIconURL">
                                                </div>
                                                <div class="p-0 ml-2 h5 align-middle">
                                                    <small>
                                                        <b>{{item.cost}}</b>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="item.components !== 'null'">
                                    <div class="card-body container-fluid ">
                                        <div class="row mb-3">
                                            <h6>Items purchased to create {{item.niceName}}:</h6>
                                        </div>
                                        <div class="row justify-content-md-center mt-1">
                                            <div class="mx-1" *ngFor="let component of item.components" [id]="component.name + 'comp'">
                                                <div (mouseover)="triggerItemPopover($event.currentTarget, component)" data-trigger="hover" data-toggle="popover">
                                                    <img [src]="component.url" class="item-component-img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bot-manage-card item-card-container-border">
                        <div class="card-header bot-manage-card-header">
                            <h5 class="align-middle">BASICS</h5>
                        </div>
                        <div class="card-body bot-manage-card-body p-0 m-0 pt-2 justify-content-center">
                            <div class="drop-zone item-container" [sortablejs]="basicItems" [sortablejsOptions]="optionsSource">
                                <div [id]="item.id" class="item" *ngFor="let item of basicItems | filter : itemSearch" [style.backgroundImage]="'url('+item.url+')'" (dblclick)="setSelectedItem(item);addItemToList(item);" (dragstart)="setSelectedItem(item); hideItemPopovers();" (drag)="$event.preventDefault();">
                                    <div class="popover-zone" (mouseover)="triggerItemPopover($event.currentTarget, item)" data-toggle="popover"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bot-manage-card item-card-container-border">
                        <div class="card-header bot-manage-card-header">
                            <h5 class="align-middle">UPGRADES</h5>
                        </div>
                        <div class="card-body bot-manage-card-body p-0 m-0 pt-2 justify-content-center">
                            <div class="drop-zone item-container" [sortablejs]="upgradeItems" [sortablejsOptions]="optionsSource">
                                <div [id]="item.id" class="item" *ngFor="let item of upgradeItems | filter : itemSearch" [style.backgroundImage]="'url('+item.url+')'" (dblclick)="setSelectedItem(item);addItemToList(item)" (dragstart)="setSelectedItem(item); hideItemPopovers();" (drag)="$event.preventDefault();">
                                    <div class="popover-zone" (mouseover)="triggerItemPopover($event.currentTarget, item)" data-trigger="hover" data-toggle="popover"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End container -->

<!-- Item popover -->
<div class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngFor="let item of allItems">
            <div [id]="item.name">
                <h5 class="popover-item" style="text-shadow:none;">
                    <img class="popover-item" src="{{ item.url }}" height="25"> {{ item.niceName }}
                </h5>
                <div class="hero-attributes cost-item ">
                    <img class="mx-1 float-left" [src]="dotaGoldIconURL" height="25px">
                    <div class="ml-2 float-none">
                        <b>{{item.cost}}</b>
                    </div>
                </div>
                <div class="float-left" *ngIf="item.components !== 'null'">
                    <div class="container-fluid">
                        <div class="row hero-attributes mb-2 ">
                            <b>Components required:</b>
                        </div>
                        <div class="row justify-content-md-center mb-2">
                            <div class="mx-1" *ngFor="let component of item.components">
                                <img [src]="component.url" height="30px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Items popover template -->
<div class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="itemsPopoverTemplate">
                <div class="popover popover-dark" role="tooltip">
                    <div class="arrow"></div>
                    <h3 class="popover-header"></h3>
                    <div class="popover-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hero popover -->
<!-- 
<div class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngFor="let hero of allHeroes">
            <div [id]="hero.programName">
                <h5 class="popover-item" style="text-shadow:none;">
                    <img class="popover-item" src="{{ hero.attributeImage }}" height="25">
                    {{ hero.niceName }}
                </h5>
                <p class="text-center">
                    <b class="popover-item">{{ hero.roles }}</b>
                </p>
                <div class="text-center">
                    <figure class="text-center d-inline-block">
                        <img class="popover-item" src="{{ strURL }}" height="25">
                        <figcaption class="figure-caption text-center">
                            <b class="popover-item">{{ hero.baseStrength }}</b> + {{ hero.baseStrengthGain }}
                        </figcaption>
                    </figure>&nbsp;&nbsp;&nbsp;
                    <figure class="text-center d-inline-block">
                        <img class="popover-item" src="{{ agiURL }}" height="25">
                        <figcaption class="figure-caption text-center">
                            <b class="popover-item">{{ hero.baseAgility }}</b> + {{ hero.baseAgilityGain }}
                        </figcaption>
                    </figure>&nbsp;&nbsp;&nbsp;
                    <figure class="text-center d-inline-block">
                        <img class="popover-item" src="{{ intURL }}" height="25">
                        <figcaption class="figure-caption text-center">
                            <b class="popover-item">{{ hero.baseIntelligence }}</b> + {{ hero.baseIntelligenceGain }}
                        </figcaption>
                    </figure>
                </div>
                <div class="hero-attributes">
                    <b class="popover-item">Armor:</b>&nbsp;{{ hero.armor }}<br>
                    <b class="popover-item">Attack Damage (Max):</b>&nbsp;{{ hero.attackDamageMax }}<br>
                    <b class="popover-item">Attack Damage (Min):</b>&nbsp;{{ hero.attackDamageMin }}<br>
                    <b class="popover-item">Movement Speed:</b>&nbsp;{{ hero.moveSpeed }}
                </div>
                <br>
                <div class="text-center">
                    <img class="popover-item" src="{{ hero.qImage }}" alt="" height="50">&nbsp;
                    <img class="popover-item" src="{{ hero.wImage }}" alt="" height="50">&nbsp;
                    <img class="popover-item" src="{{ hero.eImage }}" alt="" height="50">&nbsp;
                    <img class="popover-item" src="{{ hero.rImage }}" alt="" height="50">
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Heroes popover template -->
<div class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="heroesPopoverTemplate">
                <div class="popover popover-dark" role="tooltip">
                    <div class="arrow"></div>
                    <h3 class="popover-header"></h3>
                    <div class="popover-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>