@font-face {
    font-family: 'Radiance';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance.eot?#iefix') format('embedded-opentype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/radiance.woff') format('woff'),
        url('http://cdn.dota2.com/apps/dota2/fonts/radiance.ttf') format('truetype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/radiance.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radiance-Bold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.eot?#iefix') format('embedded-opentype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.woff') format('woff'),
        url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.ttf') format('truetype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radiance-SemiBold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.eot?#iefix') format('embedded-opentype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.woff') format('woff'),
        url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.ttf') format('truetype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goudy_trajan_boldbold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix') format('embedded-opentype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff') format('woff'),
        url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf') format('truetype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.svg#goudy_trajan_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goudy_trajan_mediummedium';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix') format('embedded-opentype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff') format('woff'),
        url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf') format('truetype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.svg#goudy_trajan_mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goudy_trajan_regularregular';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix') format('embedded-opentype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff') format('woff'),
        url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf') format('truetype'),
        url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.svg#goudy_trajan_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


