<div>
    <div class="container-fluid container-fluid-custom">
        <div class="row">
            <div class="col-12" id="heroesTitle">
                Select a tab to customize your team desires
            </div>
        </div>

        <div class="frame">
            <div id="accordion" class="card bot-manage-card">
                <div *ngFor="let section of sectionsLanes">
                    <!-- Heading -->
                    <button class="button-profile card-header heading-desire w-100" id="heading{{section.title}}" data-toggle="collapse" [attr.data-target]="'#collapse' + section.title" aria-expanded="true" [attr.aria-controls]="'collapse' + section.title">
                        Team's {{section.title}} Desires
                    </button>
                    <!-- Card Body -->
                    <div id="collapse{{section.title}}" class="collapse" [class.show]="section.prop == 'push'" [attr.aria-labelledby]="'heading' + section.title" data-parent="#accordion">
                        <div class="card-body bot-manage-card-body">
                            <div class="container">
                                <ul class="nav nav-tabs nav-fill" id="{{section.prop}}Tabs" role="tablist">
                                    <li *ngFor="let lane of lanes" class="nav-item">
                                        <a class="nav-link" [class.active]="lane.title=='Top'" id="tab{{lane.title}}" data-toggle="tab" href="#{{section.prop + lane.title}}" role="tab" [attr.aria-controls]="section.prop + lane.title" [attr.aria-selected]="lane.title == 'Top' ? true : false">
                                            {{lane.title}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Tab Content -->
                            <div class="tab-content" id="{{section.prop}}TabContent">
                                <div *ngFor="let lane of lanes" class="container-fluid-custom tab-pane fade" [class.show]="lane.title == 'Top'" [class.active]="lane.title == 'Top'" id="{{section.prop + lane.title}}" [attr.aria-labelledby]="'tab' + lane.title">
                                    <div class="form-group container">
                                        <label for="{{section.prop + lane.title}}Default">Default Value</label>
                                        <mat-slider min="0" max="100" step="1" [(value)]="config.desires[section.prop][lane.prop].initialValue" thumbLabel="true" tickInterval="1" (mouseup)="saveTeamDesires()"></mat-slider>
                                    </div>
                                    <div class="container">
                                        <button type="button" class="btn btn-outline-success" (click)="addConditionGroup(config.desires[section.prop][lane.prop])">Add Condition Group</button>
                                    </div>
                                    <div class="container">
                                        <div *ngIf="config.desires[section.prop][lane.prop].compoundConditions.length != 0">
                                            <div class="compound-cond list-group" *ngFor="let comp of config.desires[section.prop][lane.prop].compoundConditions | reverse; let j = index">
                                                <div class="d-flex justify-content-between mb-2">
                                                    <h5>Condition Group</h5>
                                                    <button *ngIf="config.desires[section.prop][lane.prop].compoundConditions.length > 1" type="button" (click)="delCondGroup(config.desires[section.prop][lane.prop].compoundConditions, j)" class="btn button-cancel"><span class="fa fa-times fa-w-12"></span></button>
                                                </div>
                                                
                                                <button *ngIf="comp.conditions.length == 0" class="list-group-item btn btn-add-cond" type="button" (click)="addCondition(comp)">New Condition</button>
                                                <div *ngFor="let condition of comp.conditions; let i=index;" class="button-group" role="group">
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <configurator [condition]="condition"></configurator>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="d-flex align-items-center">
                                                                    <span class="pointer icon" (click)="delCondition(comp, i)">
                                                                        <i class="fas fa-trash m-1"></i>
                                                                    </span>
                                                                    <div class="btn-group">
                                                                        <button type="button" class="btn btn-secondary ml-4" (click)="comp.logicalOperators[i] === undefined ? addCondition(comp):''">
                                                                            <span *ngIf="comp.logicalOperators[i] === undefined"><i class="fas fa-plus"></i></span>
                                                                            <span class="ml-1" *ngIf="comp.logicalOperators[i] !== undefined">{{getOperator(comp, i)}}</span>
                                                                        </button>
                                                                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                                        <div class="dropdown-menu">
                                                                            <a class="dropdown-item" (click)="addOperator(comp, i, 1)">AND</a>
                                                                            <a class="dropdown-item" (click)="addOperator(comp, i, 2)">OR</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="button-group" *ngIf="config.desires[section.prop][lane.prop].compoundConditions[j].conditions.length != 0" role="group">
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <!-- <div class="dropdown mr-2 pr-1 col-md-4">
                                                                <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="dropdownOperatorLanes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    then {{comp.operator == null ? "(Select Action)" : actions[comp.operator]}}
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownOperatorLanes">
                                                                <a class="dropdown-item" *ngFor="let t of actions | enumToArray" (click)="comp.operator = actions[t]">{{t}}</a>
                                                                </div>
                                                            </div>
                                                            <input id="valueInput" class="form-control col-md-3" type="number" [(ngModel)]="comp.value" name="value"> -->
                                                            <mat-form-field class="col-md-4">
                                                                <mat-select placeholder="THEN" [(value)]="comp.operator" [matTooltip]="comp.operator">
                                                                    <mat-option *ngFor="let t of actions | enumToArray" [value]="t">{{t}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <mat-slider class="col-md-3 mt-2" min="0" max="100" value="25" thumbLabel="true" [(ngModel)]="comp.value"></mat-slider>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let section of sectionsNoLanes">
                    <button class="button-profile card-header heading-desire w-100" id="heading{{section.title}}" data-toggle="collapse" [attr.data-target]="'#collapse' + section.title" aria-expanded="true" [attr.aria-controls]="'#collapse' + section.title">
                        Team's {{section.title}} Desires
                    </button>
                    <div id="collapse{{section.title}}" class="collapse" [attr.aria-labelledby]="'heading' + section.title"  data-parent="#accordion">
                        <div class="card-body bot-manage-card-body">
                            <div class="form-group container">
                                <label for="{{section.prop}}Default">Default Value</label>
                                <mat-slider min="0" max="100" step="1" [(value)]="config.desires[section.prop].initialValue" thumbLabel tickInterval="1" (mouseup)="saveTeamDesires()"></mat-slider>
                            </div>
                            <div class="container">
                                <button type="button" class="btn btn-outline-success" (click)="addConditionGroup(config.desires[section.prop])">Add Condition Group</button>
                            </div>
                            <div class="container">
                                <div *ngIf="config.desires[section.prop].compoundConditions != []">
                                    <div class="compound-cond container list-group" *ngFor="let comp of config.desires[section.prop].compoundConditions | reverse; let j = index">
                                            <div class="d-flex justify-content-between mb-2">
                                                    <h5>Condition Group</h5>
                                                    <button *ngIf="config.desires[section.prop].compoundConditions.length > 1" type="button" (click)="delCondGroup(config.desires[section.prop].compoundConditions, j)" class="btn button-cancel"><span class="fa fa-times fa-w-12"></span></button>
                                                </div>
                                        <button *ngIf="config.desires[section.prop].compoundConditions[j].conditions.length == 0"  class="list-group-item btn btn-add-cond" type="button" (click)="addCondition(comp)">New Condition</button>
                                        <div  *ngFor="let condition of comp.conditions; let i=index;" class="button-group" role="group">
                                            <span class="list-group-item d-flex justify-content-between align-items-center">
                                                <div class="col-md-10">
                                                    <configurator [condition]="condition"></configurator>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="d-flex align-items-center">
                                                        <span class="pointer icon" (click)="delCondition(comp, i)">
                                                            <i class="fas fa-trash m-1"></i>
                                                        </span>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-secondary ml-4" (click)="comp.logicalOperators[i] === undefined ? addCondition(comp):''">
                                                                <span *ngIf="comp.logicalOperators[i] === undefined"><i class="fas fa-plus"></i></span>
                                                                <span class="ml-1" *ngIf="comp.logicalOperators[i] !== undefined">{{getOperator(comp, i)}}</span>
                                                            </button>
                                                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" (click)="addOperator(comp, i, 1)">AND</a>
                                                                <a class="dropdown-item" (click)="addOperator(comp, i, 2)">OR</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="button-group" *ngIf="config.desires[section.prop].compoundConditions[j].conditions.length != 0" role="group">
                                            <div class="list-group-item">
                                                <!-- <div class="row">
                                                    <div class="dropdown mr-2 pr-1 col-md-4">
                                                        <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="dropdownOperator" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            then {{comp.operator == null ? "(Select Action)" : actions[comp.operator]}}
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownOperator">
                                                        <a class="dropdown-item" *ngFor="let t of actions | enumToArray" (click)="comp.operator = actions[t]">{{t}}</a>
                                                        </div>
                                                    </div>
                                                    <input id="valueInput" class="form-control col-md-3" type="number" [(ngModel)]="comp.value" name="value">
                                                </div> -->
                                                <mat-form-field class="col-md-4">
                                                    <mat-select placeholder="THEN" [(value)]="comp.operator" [matTooltip]="comp.operator">
                                                        <mat-option *ngFor="let t of actions | enumToArray" [value]="t">{{t}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-slider class="col-md-3 mt-2" min="0" max="100" value="25" thumbLabel="true" [(ngModel)]="comp.value"></mat-slider>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO: Add single action & value per compound condition for roshan and roam -->