/* 
* Bot-Management Component Styles 
*/


/* Global Variables */
@import '../../variables';

/* Title */
#botManagementTitle {
    margin-top: $page-margin-top;
    margin-bottom: $page-margin-bottom;
}

.bot-manage-card {
    margin-bottom: 100%;
}
