{
    "globals": {
        "describe": false,
        "beforeAll": false,
        "beforeEach": false,
        "afterAll": false,
        "it": false,
        "expect": false,
    },
    "rules": {
        "no-console": 0,
        "global-require": 0,
    },
}