/* Global Variables */
@import '../../variables';

#callbackContainer {
    position: relative;
    padding: 0;
    height: 100%;
}

.loading-icon {
    text-align: center !important;
    height: 100%;
}

.icon {
    padding-top: 15%;
    padding-bottom: 30%;
}
