/* 
* Bot Configuration Styles
*/

/* Global Variables */
@import '../../variables';

/*Slider Variables */
$slider-color: #d3d3d3;
$slider-transition-speed: .2s;
$slider-size: 18px;
$slider-border-radius: 50%;
$slider-cursor: pointer;


/* -- Heading -- */

#botConfigTitleContainer {
    padding-top: 2rem;
    padding-bottom: .5rem;
    min-height: 20%;
}

#botConfigTitle {
    margin-top: $page-margin-top;
    margin-bottom: $page-margin-bottom;
}

/* -- Alerts --*/
.alert-dire {
    box-shadow: 0 0 8px $dire-border-color;
    background-color: $dire-card-background-color;
}

.alert-radiant {
    box-shadow: 0 0 8px $radiant-border-color;
    background-color: $radiant-card-background-color;
}
.alert-both {
    box-shadow: 0 0 8px $btn-edit-color;
    background-color: $light-gold;
}
.alert-red {
    background-color: rgba($btn-cancel-border-color-hover,0.8);
    border: 1px solid $btn-cancel-border-color;
    color: $white;
}


/* -- Cards -- */

.config-card {
    height: 100%;
    background-color: rgba($dark-grey-2, 0.8);
    text-align: left;
    color: $light-grey;
}

.config-card-dire {
    box-shadow: 0 0 7px $dire-border-color;
    border: 0.5px solid $dire-border-color-dim;
    background-color: $dire-card-background-color;
}

.config-card-radiant {
    box-shadow: 0 0 7px $radiant-border-color;
    border: 0.5px solid $radiant-border-color-dim;
    background-color: $radiant-card-background-color;
}

.config-card-both {
    box-shadow: 0 0 7px $light-gold;
    border: 0.5px solid rgba($btn-edit-color,0.8);
}

.config-card-blur {
    pointer-events: none;
    opacity: 0.5;
}

.config-card-title {
    margin-top: .5rem;
    margin-bottom: 2rem;
}


/* -- Forms -- */

#inputName,
#inputDescription {
    background-color: transparent;
    color: $light-grey ;
}

#inputName:focus,
#inputDescription:focus {
    background-color: transparent;
}

.required {
    color: $red;
}


/* -- Button Row -- */

.button-container {
    margin: 2rem 1rem 2rem 1rem; 
}

.button-container button {
    margin-left: 1rem;
}


/* Sliders */

.slide-container {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: rgba($slider-color, 0.7);
    outline: none;
    -webkit-transition: $slider-transition-speed;
    transition: opacity $slider-transition-speed;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $slider-size;
    height: $slider-size;
    border-radius: $slider-border-radius;
    background: $blue;
    cursor: $slider-cursor;
}

.slider::-moz-range-thumb {
    width: $slider-size;
    height: $slider-size;
    border-radius: $slider-border-radius;
    background: $blue;
    cursor: $slider-cursor;
}

.vert-align-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-over-img .button-cover {
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    background-color: $light-gold;
    box-shadow: 0 0 5rem $light-grey;
}

.button-cover{
    border: 2px solid;
}

.img-pointer {
    cursor: pointer;
}

/* Config Container */
#configContainer {
    padding-top: 0;
    padding-bottom: 4rem;
}

/* Config Navbar */

#configNav {
    height: 45px;
    background-image: $config-nav-background-image;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    overflow-x: visible;
}

#configNavContent {
    background-position: top center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 17px;
    color: $light-grey;
    width: 588pt;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
    border: none;
}

.nav-spacer {
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $dark-grey;
}

#configNavContent a {
    text-decoration: none;
    cursor: pointer;
    color: $light-grey;
    font-family: $font-family;
    width: 100pt;
    text-align: center;
}

#configNavContent a:hover {
    color: $white;
}

#configNavContent a.active.show {
    text-shadow: 0 0 3px $white;
    color: $white;
}

.nav-item {
    cursor: pointer;
    width: 20%;
}

.nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: $light-grey;
    font-size: 20px;
    font-family: $font-family;
}

.nav-link.active {
    color: $light-grey;
    background-color: transparent;
    border-color: transparent transparent $light-grey;
    border-bottom: 4px solid $light-grey;
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover {
    color: $light-grey;
    font-weight: bold;
    border: 1px solid transparent;
    border-bottom: 4px solid $light-grey;
    transition: 0.4s;
}