<div class="container-fluid container-fluid-custom background main-background">
    <div class="frame" id="botConfigTitle">
        <h1>BOT CONFIGURATION</h1>
        <div class="alert alert-dismissible fade hide" id="alertConfig" role="alert">
            <strong>{{factionEditAlert}}</strong>
            <button type="button" class="close" (click)="hideAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <nav id="configNav">
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active tab-text" id="nav-home-tab" data-toggle="tab" href="#nav-team-desires" role="tab" aria-controls="nav-team-desires" aria-selected="true">TEAM DESIRES</a>
            <a class="nav-item nav-link tab-text" id="nav-profile-tab" data-toggle="tab" href="#nav-heroes" role="tab" aria-controls="nav-heroes" aria-selected="false">HEROES</a>
            <a class="nav-item nav-link tab-text" id="nav-abilities-tab" data-toggle="tab" href="#nav-abilities" role="tab" aria-controls="nav-abilities" aria-selected="false">ABILITIES</a>
            <a class="nav-item nav-link tab-text" id="nav-items-tab" data-toggle="tab" href="#nav-items" role="tab" aria-controls="nav-items" aria-selected="false">ITEMS</a>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-team-desires" role="tabpanel" aria-labelledby="nav-profile-tab">
            <app-team-desires></app-team-desires>
        </div>
        <div class="tab-pane fade" id="nav-heroes" role="tabpanel" aria-labelledby="nav-home-tab">
            <app-heroes></app-heroes>
        </div>
        <div class="tab-pane fade" id="nav-abilities" role="tabpanel" aria-labelledby="nav-abilities-tab">
            <app-abilities></app-abilities>
        </div>
        <div class="tab-pane fade" id="nav-items" role="tabpanel" aria-labelledby="nav-items-tab">
            <app-items></app-items>
        </div>
    </div>

    <!-- Start Button Row -->
    <div class="row mb-4">
        <div class="button-container ml-auto">
            <button type="button" class="button button-cancel mx-2" (click)="reset()" >
                <i class="fas fa-undo mr-1"></i>
                RESET CONFIG
            </button>
            <button type="button" class="button button-edit mx-2" (click)="save()">
                <i class="fas fa-save mr-1"></i>
                SAVE CONFIG
            </button>
            <a class="button button-generate mx-2" id="generateButton" [href]="generateURL" download>
                <i class="fas fa-download mr-1"></i>
                GENERATE
            </a>
        </div>
    </div>

    <!-- <div class="frame">
        <button class="button button-generate" (click)="test()">Generate</button>
    </div> -->
</div>