<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">
        <img id="dotaLogo" src="http://cdn.dota2.com/apps/dota2/images/nav/logo.png" alt="Dota 2 Logo">
        &nbsp;<sub id="botScriptTitle">BOT SCRIPTING</sub>
    </a>

    <button id="hamburger" (click)="toggleHamburger()" class="hamburger hamburger--squeeze navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-dropdown" aria-controls="navbar-dropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-dropdown">    
        <!-- Show only if logged in -->
        <ul class="navbar-nav mt-2 mt-lg-0" id="navLinksList" *ngIf="auth.loggedIn">                  
            <li class="nav-item">
                <a id="dashboardLink" routerLink="/dashboard" class="nav-link">DASHBOARD</a>
            </li>
            <li class="nav-item">
                <a id="manageLink" routerLink="/bot-management" class="nav-link">MANAGE</a>
            </li>
            <li class="nav-item">
                <a id="heroLink" routerLink="/bot-management" class="nav-link">HEROES</a>
            </li>
            <li class="nav-item">
                <a id="manageLink" routerLink="/bot-management" class="nav-link">MANAGE</a>
            </li>
            <li class="nav-item">
                <a id="manageLink" routerLink="/bot-management" class="nav-link">MANAGE</a>
            </li>
            <li class="nav-item">
                <a id="manageLink" routerLink="/bot-management" class="nav-link">MANAGE</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" >
            <!-- Show only if not logged in -->
            <li class="nav-item" *ngIf="!auth.loggedIn">
                <button class="button-profile my-2 my-sm-0" type="button" id="logInButton" (click)="auth.login()">
                    <i class="fas fa-sign-in-alt"></i>&nbsp;
                    SIGN IN
                </button>                
            </li>   
            
            <!-- Show only if logged in -->
            <li class="nav-item" *ngIf="auth.loggedIn">
                <div class="dropdown">
                    <button id="welcomeButton" type="button" class="button-profile dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
                        <i class="fas fa-user"></i>&nbsp;                      
                        <div class="d-inline" *ngIf="auth.userProfile?.given_name != null">                            
                            Hello, {{auth.userProfile?.given_name}}
                        </div>
                        <div class="d-inline" *ngIf="auth.userProfile?.given_name == null && auth.userProfile?.nickname != null">
                            Hello, {{auth.userProfile?.nickname}}
                        </div>                        
                        <div class="d-inline" *ngIf="auth.userProfile?.given_name == null && auth.userProfile?.nickname == null && auth.userProfile?.name != null">
                            Hello, {{auth.userProfile?.name}}
                        </div>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="welcomeButton">                        
                        <button class="dropdown-item dropdown-item-danger" id="logoutButton" type="button" (click)="logout()">
                            <i class="fa fa-sign-out-alt"></i>&nbsp;&nbsp;
                            SIGN OUT
                        </button>          
                    </div>
                </div>
            </li>                         
        </ul>
    </div>
</nav>