/* 
* Dashboard Component Styles 
*/

/* Global Variables */
@import '../../variables';

/* Title */
#dashboard-title {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
 
 
/*
 |--------------------------------------
 | Responsive
 |--------------------------------------
*/
 
@media only screen and (max-width: 750px) {
 
}
 
@media only screen and (max-width: 450px) {
    #newConfigButton {
        font-size: 80%;
    }
}
 
@media only screen and (max-width: 350px) {
    #newConfigButton {
        font-size: 60%;
    }
}