/* 
* Dashboard Component Styles 
*/


/* Import Home Component CSS */
@import '../home/home.component.css';

/* Title */
#dashboard-title {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}


/*
 |--------------------------------------
 | Responsive
 |--------------------------------------
*/

@media only screen and (max-width: 750px) {

}

@media only screen and (max-width: 450px) {

    #new-bot-config-button {
        font-size: 80%;
    }

}

@media only screen and (max-width: 350px) {

    #new-bot-config-button {
        font-size: 60%;
    }
    
}