/* You can add global styles to this file, and also import other style files */
html {
    padding: 0;
    margin: 0;
    /*background-image: url('http://cdn.dota2.com/apps/dota2/images/store/bg_main.jpg');*/
    background-image: url('http://cdn.dota2.com/apps/dota2/images/store/bg_main.jpg');
	background-repeat:repeat;
    background-position:center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Global colours */
:root {
    --light-grey: #a3a3a3;
    --dark-grey-1: #3d3d3d;
    --dark-grey-2: #333333;
}


/* -- Global Styles -- */

.container-fluid-custom {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/store/bg_main.jpg');
    padding-top: 2rem;
}

/* General container */
.frame {
    margin: 5rem 5rem 5rem 5rem;
    text-align: center;     
    color: var(--light-grey);
}

/* button class */
.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: .2rem;
    font-family: 'Radiance';
}