/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;   
}


/* Global colours */

:root {
    --red: #e2283b;
    --blue: #007bff;
    --white: #dddddd;
    --grey: #808080;
    --light-grey: #a3a3a3;    
    --dark-grey-1: #3d3d3d;
    --dark-grey-2: #333333;
    --dark-grey-3: #292929;
    --black: #181818;
}


/* -- Global Styles -- */


/* -- Containers --  */

.container-fluid-custom {    
    height: 100% !important;
    padding-top: 2rem;
}

.frame {
    margin: 5% 5% 5% 5%;
    text-align: center;     
    color: var(--light-grey);
}


/* -- Cards -- */

.bot-manage-card {
    background-color: var(--dark-grey-1) !important;
    text-align: left !important;
}

.bot-manage-card-body {
    background-color: var(--dark-grey-3) !important;   
}

.manage-list-group-item {
    background-color: var(--dark-grey-3) !important;   
    padding: 1rem 2rem 2rem 2rem !important; 
    cursor: pointer !important;
    border-radius: 0 !important;
}

.manage-list-group-item:hover {
    background-color: var(--dark-grey-2) !important;   
}


/* -- Buttons -- */

.btn {
    padding-left: 1rem !important;
    padding-right: 1rem !important;    
    letter-spacing: .2rem !important;
    font-family: 'Radiance';
}


/* -- Custom Button Styles to mimic Dota 2 -- */ 

.button {
    padding-left: 1rem !important;
    padding-right: 1rem !important;    
    letter-spacing: .2rem !important;
    font-family: 'Radiance';
    text-decoration:none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
}
.button-cancel {   
    text-decoration:none;
    color: #b64f44;
    background-color: transparent;
    border: 1px solid #70251d;
 }
  
  .button-cancel:hover {
    text-decoration:none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    background-color: #5e2d27;
    color: #b64f44;
    border: 1px solid #b15b52;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.button-generate { 
    color: #4585C3;
    background-color: transparent;
    background-image: none;
    border:2px solid #263f56;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
}

.button-generate:hover {
    text-decoration:none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; 
    color: #5595D3;
    background-color: #263f56;
    border-color: #3A73A3;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.button-edit {
    color: #b1884f;
    background-color: transparent;
    background-image: none;
    border:2px solid #5b4629;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  }
  
  .button-edit:hover {
    text-decoration:none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; 
    color: #b1884f;
    background-color: #5b4629;
    border-color: #876a40;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
  }
  
  .button-delete {
    color: #526d74;
    background-color: transparent;
    background-image: none;
    border:2px solid #526d74;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  }
  
  .button-delete:hover {
    text-decoration:none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; 
    color: #65868f;
    background-color:#324750;
    border-color: #5a7a81;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
  }

  

.dropdown-filter {    
    color: var(--grey);
}

.dropdown-filter:hover {
    color: var(--light-grey);
}


/*  Dropdown Menus */

.dropdown {
    display: inline-block;
}

.dropdown-menu {
    display: inline-block;
    background-color: #202020 !important;        
    border-color: var(--dark-grey-1) !important;
    border-radius: 2px !important; 
    min-width: 100% !important;   
}

.dropdown-item {
    color: var(--grey) !important;
}

.dropdown-item:hover {
    background-color: #202020 !important;    
    color: var(--light-grey) !important;
    cursor: pointer !important;
}

.dropdown-item-danger {
    color: var(--red) !important;
}

.dropdown-item-danger:hover {
    color: #e42b3e !important;
}

.dropdown-divider {
    border-color: #181818 !important;
}