/* Global variables */

$transition-speed: .3s;
$font-family: 'Radiance';

/* Global colours */
$red: #e2283b;
$blue: #007bff;
$grey: #808080;
$light-grey: #a3a3a3;
$dark-grey-1: #3d3d3d;
$dark-grey-2: #333333;
$dark-grey-3: #292929;
