@import '/assets/fonts.scss';

/* Global variables */

$transition-speed: .3s;
$font-family: 'Radiance';
$box-shadow:0px 3px 12px 0px rgba(0,0,0,0.75);
$nav-background-image: url('http://cdn.dota2.com/apps/dota2/images/header/header_bg.png');
$general-background-image: url('http://cdn.dota2.com/apps/dota2/images/blog/play/bg_02.jpg');

/* Global colours */
$red: #e2283b;
$blue: #007bff;
$white: #dddddd;
$grey: #808080;
$light-grey: #a3a3a3;
$dark-grey-1: #3d3d3d;
$dark-grey-2: #333333;
$dark-grey-3: #292929;
$black: #181818;

/*Button colours*/
$btn-cancel-color: #b64f44;

