<div class="container-fluid container-fluid-custom background main-background">
    <div class="frame" id="botConfigTitle">
        <h1>BOT CONFIGURATION</h1>
        <div class="alert alert-dismissible fade hide" id="alertConfig" role="alert">
            <strong>{{factionEditAlert}}</strong>
            <button type="button" class="close" (click)="hideAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <br>
    </div>

    <!-- Start Row -->
    <div class="row mb-4">

        <!-- Start Script Details -->
        <div class="col-md-6">
            <div class="card config-card">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Script Details</h4>
                    </div>
                    <div class="alert alert-red show text-center" id="alertFactionSelect" role="alert">
                        Please complete the following details and choose a faction to continue.
                    </div>
                    <div class="form-group row mb-4">
                        <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputName" name="inputName" [(ngModel)]="bot.name">
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="inputDescription" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="4" id="inputDescription" name="inputDescription" [(ngModel)]="bot.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="inputDescription" class="col-sm-3 col-form-label">Faction</label>
                        <div class="col-sm-9 row">
                            <div class="col-sm-6">
                                <div class="mb-2" >
                                    <h5 class="text-center">Edit a particular faction</h5>
                                </div>
                                <img [src]="factionSelectionImageURL" class="img-fluid rounded" id="dotaMiniMap" usemap="#imageMap">
                                <map name="imageMap">
                                    <area class="area img-pointer" id="direSide" alt="Dire Side" title="Dire Faction" (mouseover)="showHighlightSelectedFaction('dire')" (mouseleave)="unHighlightSelectedFaction()" (click)="selectFaction('dire' , 'radiant')"
                                        coords="4,79,105,95,140,133,190,171,244,183,287,184,288,4,1,0" shape="poly">
                                    <area class="img-pointer" id="radiantSide" alt="Radiant Side" title="Radiant Faction" (mouseover)="showHighlightSelectedFaction('radiant')" (mouseleave)="unHighlightSelectedFaction()" (click)="selectFaction('radiant' , 'dire')"
                                        coords="1,81,98,99,133,140,183,172,223,188,290,191,290,265,3,262" shape="poly">
                                </map>
                            </div>
                            <div class="col-sm-6 vert-align-center">   
                                <div class="mb-2" >
                                        <h5 class="text-center">Edit for both factions</h5>
                                </div>  
                                <div class="btn-over-img">
                                    <img [src]="bothFactionsImageURL" class="img-fluid rounded" id="dotaMiniMap2"> 
                                    <button type="button" class="button button-edit mx-2 button-cover" (mouseover)="showHighlightBothFactions()" (mouseleave)="unHighlightBothFactions()" (click)="selectBothFactions()">
                                        EDIT BOTH
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Script Details -->
        <!-- Start Push Lane Desires -->
        <div class="col-md-6">
            <div class="card config-card config-card-blur">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Push Lane Desires</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="pushTop" class="col-sm-3">Top:&nbsp;&nbsp;{{bot.configuration.push.top}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.push.top" class="slider" id="pushTop" name="pushTop" [(ngModel)]="bot.configuration.push.top">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="pushMiddle" class="col-sm-3">Middle:&nbsp;&nbsp;{{bot.configuration.push.mid}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.push.mid" class="slider" id="pushMiddle" name="pushMiddle" [(ngModel)]="bot.configuration.push.mid">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="pushBottom" class="col-sm-3">Bottom:&nbsp;&nbsp;{{bot.configuration.push.bot}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.push.bot" class="slider" id="pushBottom" name="pushBottom" [(ngModel)]="bot.configuration.push.bot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Push Lane Desires -->

    </div>
    <!-- End Row -->

    <!-- Start Row -->
    <div class="row mb-4">

        <!-- Start Defend Lane Desires -->
        <div class="col-md-6">
            <div class="card config-card config-card-blur">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Defend Lane Desires</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="defendTop" class="col-sm-3">Top:&nbsp;&nbsp;{{bot.configuration.defend.top}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.defend.top" class="slider" id="defendTop" name="defendTop" [(ngModel)]="bot.configuration.defend.top">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="defendMiddle" class="col-sm-3">Middle:&nbsp;&nbsp;{{bot.configuration.defend.mid}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.defend.mid" class="slider" id="defendMiddle" name="defendMiddle" [(ngModel)]="bot.configuration.defend.mid">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="defendBottom" class="col-sm-3">Bottom:&nbsp;&nbsp;{{bot.configuration.defend.bot}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.defend.bot" class="slider" id="defendBottom" name="defendBottom"
                                    [(ngModel)]="bot.configuration.defend.bot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Defend Lane Desires -->

        <!-- Start Roam Desires -->
        <div class="col-md-6">
            <div class="card config-card config-card-blur">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Roam Desires</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="roam" class="col-sm-3">Roam:&nbsp;&nbsp;{{bot.configuration.roam}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.roam" class="slider" id="roam" name="roam" [(ngModel)]="bot.configuration.roam">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Roam Desires -->

    </div>
    <!-- End Row -->

    <!-- Start Row -->
    <div class="row mb-4">

        <!-- Start Farm Lane Desires -->
        <div class="col-md-6">
            <div class="card config-card config-card-blur">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Farm Lane Desires</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="farmTop" class="col-sm-3">Top:&nbsp;&nbsp;{{bot.configuration.farm.top}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.farm.top" class="slider" id="farmTop" name="farmTop" [(ngModel)]="bot.configuration.farm.top">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="farmMiddle" class="col-sm-3">Middle:&nbsp;&nbsp;{{bot.configuration.farm.mid}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.farm.mid" class="slider" id="farmMiddle" name="farmMiddle" [(ngModel)]="bot.configuration.farm.mid">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="farmBottom" class="col-sm-3">Bottom:&nbsp;&nbsp;{{bot.configuration.farm.bot}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.farm.bot" class="slider" id="farmBottom" name="farmBottom" [(ngModel)]="bot.configuration.farm.bot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Farm Lane Desires -->

        <!-- Start Roshan Desires -->
        <div class="col-md-6">
            <div class="card config-card config-card-blur">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Roshan Desires</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="roshan" class="col-sm-3">Roshan:&nbsp;&nbsp;{{bot.configuration.roshan}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="bot.configuration.roshan" class="slider" id="roshan" name="roshan" [(ngModel)]="bot.configuration.roshan">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Roshan Desires -->

    </div>
    <!-- End Row -->

    <!-- Start Button Row -->
    <div class="row mb-4">
        <div class="button-container ml-auto">
            <button type="button" class="button button-cancel mx-2" (click)="clear()" >
                <i class="fas fa-undo mr-1"></i>
                CANCEL
            </button>
            <button type="button" class="button button-edit mx-2" (click)="save()">
                <i class="fas fa-save mr-1"></i>
                SAVE
            </button>
            <a class="button button-generate mx-2" id="generateButton" (click)="generateBotScript()" download>
                <i class="fas fa-download mr-1"></i>
                GENERATE
            </a>
        </div>
    </div>
    <!-- End Button Row -->



    <!-- <div class="frame">
        For future reference for map handling
        <img src="http://i.imgur.com/Sw79q.jpg" alt="Dota 2 map" height="1000">
    </div> -->
</div>