<div class="container-fluid container-fluid-custom background main-background">
    <div class="frame" id="botConfigTitle">
        <h1>BOT CONFIGURATION</h1>
        <div class="alert  alert-dismissible fade hide" id="alert-config" role="alert">
            <strong>{{alertText}}</strong>
            <button type="button" class="close" onclick="$('#alert-config').hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <br>
    </div>

    <!-- Start Row -->
    <div class="row mb-4">

        <!-- Start Script Details -->
        <div class="col-md-6">
            <div class="card config-card">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Script Details</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputName" name="inputName" [(ngModel)]="config.name">
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="inputDescription" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="4" id="inputDescription" name="inputDescription" [(ngModel)]="config.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="inputDescription" class="col-sm-3 col-form-label">Fraction</label>
                        <div class="col-sm-9 row">
                            <div class="col-sm-6">
                                <img [src]="imageURL" id="dotaMiniMap" usemap="#image-map">

                                <map name="image-map">
                                    <area target="" class="area" id="direSide" alt="Dire Side" title="Dire Fraction" (mouseover)="mouseEvent('dire')" (click)="clickEvent('dire')"
                                        coords="4,79,105,95,140,133,190,171,244,183,287,184,288,4,1,0" shape="poly">
                                    <area target="" id="radiantSide" alt="Radiant Side" title="Radiant Fraction" (mouseover)="mouseEvent('radiant')" (click)="clickEvent('radiant')"
                                        coords="1,81,98,99,133,140,183,172,223,188,290,191,290,265,3,262" shape="poly">
                                </map>
                            </div>
                            <div class="col-sm-6  vert-align-center">
                                <div class="text-center mb-2">
                                    <img [src]="fractionIcon" class="rounded ">
                                </div>

                                <h5 class="vert-align-center">{{fractionDetails}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Script Details -->

        <!-- Start Push Lane Desires -->
        <div class="col-md-6">
            <div class="card config-card">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Push Lane Desires</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="pushTop" class="col-sm-3">Top:&nbsp;&nbsp;{{config.push.top}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.push.top" class="slider" id="pushTop" name="pushTop" [(ngModel)]="config.push.top">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="pushMiddle" class="col-sm-3">Middle:&nbsp;&nbsp;{{config.push.mid}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.push.mid" class="slider" id="pushMiddle" name="pushMiddle" [(ngModel)]="config.push.mid">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="pushBottom" class="col-sm-3">Bottom:&nbsp;&nbsp;{{config.push.bot}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.push.bot" class="slider" id="pushBottom" name="pushBottom" [(ngModel)]="config.push.bot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Push Lane Desires -->

    </div>
    <!-- End Row -->

    <!-- Start Row -->
    <div class="row mb-4">

        <!-- Start Defend Lane Desires -->
        <div class="col-md-6">
            <div class="card config-card">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Defend Lane Desires</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="defendTop" class="col-sm-3">Top:&nbsp;&nbsp;{{config.defend.top}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.defend.top" class="slider" id="defendTop" name="defendTop" [(ngModel)]="config.defend.top">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="defendMiddle" class="col-sm-3">Middle:&nbsp;&nbsp;{{config.defend.mid}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.defend.mid" class="slider" id="defendMiddle" name="defendMiddle" [(ngModel)]="config.defend.mid">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="defendBottom" class="col-sm-3">Bottom:&nbsp;&nbsp;{{config.defend.bot}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.defend.bot" class="slider" id="defendBottom" name="defendBottom" [(ngModel)]="config.defend.bot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Defend Lane Desires -->

        <!-- Start Roam Desires -->
        <div class="col-md-6">
            <div class="card config-card">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Roam Desires</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="roam" class="col-sm-3">Roam:&nbsp;&nbsp;{{config.roam}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.roam" class="slider" id="roam" name="roam" [(ngModel)]="config.roam">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Roam Desires -->

    </div>
    <!-- End Row -->

    <!-- Start Row -->
    <div class="row mb-4">

        <!-- Start Farm Lane Desires -->
        <div class="col-md-6">
            <div class="card config-card">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Farm Lane Desires</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="farmTop" class="col-sm-3">Top:&nbsp;&nbsp;{{config.farm.top}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.farm.top" class="slider" id="farmTop" name="farmTop" [(ngModel)]="config.farm.top">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="farmMiddle" class="col-sm-3">Middle:&nbsp;&nbsp;{{config.farm.mid}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.farm.mid" class="slider" id="farmMiddle" name="farmMiddle" [(ngModel)]="config.farm.mid">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="farmBottom" class="col-sm-3">Bottom:&nbsp;&nbsp;{{config.farm.bot}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.farm.bot" class="slider" id="farmBottom" name="farmBottom" [(ngModel)]="config.farm.bot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Farm Lane Desires -->

        <!-- Start Roshan Desires -->
        <div class="col-md-6">
            <div class="card config-card">
                <div class="card-body">
                    <div class="card-title config-card-title">
                        <h4>Roshan Desires</h4>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="roshan" class="col-sm-3">Roshan:&nbsp;&nbsp;{{config.roshan}}</label>
                        <div class="col-sm-9">
                            <div class="slide-container">
                                <input type="range" min="0" max="10" [value]="config.roshan" class="slider" id="roshan" name="roshan" [(ngModel)]="config.roshan">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Roshan Desires -->

    </div>
    <!-- End Row -->

    <!-- Start Button Row -->
    <div class="row mb-4">
        <div class="button-container ml-auto">
            <button type="button" class="button button-cancel mx-2" routerLink="/dashboard">
                <i class="fas fa-undo mr-1"></i>
                CANCEL
            </button>
            <button type="button" class="button button-edit mx-2" (click)="save()">
                <i class="fas fa-save mr-1"></i>
                SAVE
            </button>
            <a class="button button-generate mx-2" id="generateButton" [href]="generateURL" download>
                <i class="fas fa-download mr-1"></i>
                GENERATE
            </a>
        </div>
    </div>
    <!-- End Button Row -->



    <!-- <div class="frame">
        For future reference for map handling
        <img src="http://i.imgur.com/Sw79q.jpg" alt="Dota 2 map" height="1000">
    </div> -->
</div>