/* 
* Bot Configuration Styles
*/

/* Global Variables */
@import '../../variables';

/*Slider Variables */
$slider-color: #d3d3d3;
$slider-transition-speed: .2s;
$slider-size: 18px;
$slider-border-radius: 50%;
$slider-cursor: pointer;


/* -- Heading -- */

#botConfigTitle {
    margin-top: $page-margin-top;
    margin-bottom: $page-margin-bottom;
}

/* -- Alerts --*/
.alert-dire {
    box-shadow: 0 0 8px $dire-border-color;
    background-color: $dire-card-background-color;
}

.alert-radiant {
    box-shadow: 0 0 8px $radiant-border-color;
    background-color: $radiant-card-background-color;
}
.alert-both {
    box-shadow: 0 0 8px $btn-edit-color;
    background-color: $light-gold;
}
.alert-red {
    background-color: rgba($btn-cancel-border-color-hover,0.8);
    border: 1px solid $btn-cancel-border-color;
    color: $white;
}


/* -- Cards -- */

.config-card {
    height: 100%;
    background-color: rgba($dark-grey-2, 0.8);
    text-align: left;
    color: $light-grey;    
}

.config-card-dire {
    box-shadow: 0 0 7px $dire-border-color;
    border: 0.5px solid $dire-border-color-dim;
    background-color: $dire-card-background-color;    
}

.config-card-radiant {
    box-shadow: 0 0 7px $radiant-border-color;
    border: 0.5px solid $radiant-border-color-dim;
    background-color: $radiant-card-background-color;
}

.config-card-both {
    box-shadow: 0 0 7px $light-gold;
    border: 0.5px solid rgba($btn-edit-color,0.8);
}

.config-card-blur {
    pointer-events: none;
    opacity: 0.5;
}

.config-card-title {
    margin-top: .5rem;
    margin-bottom: 2rem;
}


/* -- Forms -- */

#inputName,
#inputDescription {
    background-color: transparent;
    color: $light-grey ;
}

#inputName:focus,
#inputDescription:focus {
    background-color: transparent;
}


/* -- Button Row -- */

.button-container {
    margin: 2rem 1rem 2rem 1rem; 
}

.button-container button {
    margin-left: 1rem;
}


/* Sliders */

.slide-container {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;   
    background: rgba($slider-color, 0.7);
    outline: none;
    -webkit-transition: $slider-transition-speed;
    transition: opacity $slider-transition-speed;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $slider-size;
    height: $slider-size;
    border-radius: $slider-border-radius;
    background: $blue;
    cursor: $slider-cursor;
}

.slider::-moz-range-thumb {
    width: $slider-size;
    height: $slider-size;
    border-radius: $slider-border-radius;
    background: $blue;
    cursor: $slider-cursor;
}

.vert-align-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-over-img .button-cover {
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    background-color: $light-gold;
    box-shadow: 0 0 5rem $light-grey;
}

.button-cover{
    border: 2px solid;
}

.img-pointer {
    cursor: pointer;
}
