/* 
* Bot Configuration Styles
*/

/* Global Variables */
@import '../../variables';


/* -- Rows --  */

.row {    
    margin-bottom: 1.5rem;
}


/* -- Heading -- */

#bot-config-title {
    margin-top: 1rem !important;
    margin-bottom: 4rem !important;
}


/* -- Cards -- */

.config-card {
    height: 100%;
    background-color: $dark-grey-2;
    opacity: 0.8;
    text-align: left;
    color: $light-grey;    
}

.config-card-title {
    margin-top: .5rem;
    margin-bottom: 2rem;
}


/* -- Forms -- */

#inputName,
#inputDescription {
    background-color: $dark-grey-2;
    color: $light-grey !important;
}

#inputName:focus,
#inputDescription:focus {
    background-color: $dark-grey-1;
}


/* -- Button Row -- */

.button-container {
    margin: 2rem 1rem 2rem 1rem; 
}

.button-container button {
    margin-left: 1rem;
}


/* Sliders */

.slide-container {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: var(--blue);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--blue);
    cursor: pointer;
}
