<div class="container-fluid container-fluid-custom">
    <div class="frame">
        <h1 id="createBotsTitle">Create Your Own Bots!</h1><br>
        <p>Tutorial video goes here...</p>
        <iframe id="MainTrailer" src="https://www.youtube.com/embed/SmnqsdeHFT0?rel=0" allowfullscreen="" width="1268" height="713" frameborder="0"></iframe>
    </div>

    <div class="frame" style="background-image: url('http://cdn.dota2.com/apps/dota2/images/thebetaisover/bg_01.jpg'); height: 735px;">
        <h2>More features</h2>
        
    </div>
    
    <div class="frame" style="background-image: url('http://cdn.dota2.com/apps/dota2/images/blog/play/bg_08.jpg'); height: 972px;">
        <h2>More content</h2>
    </div>

    <div class="frame">
        <br><br><br><br><br><br><br>
    </div>
</div>
