/* -- HOME STYLES -- */


/* Global Variables */
@import '../../variables';

.container-fluid-custom {
    padding: 0;
}

.banner-video {    
    padding-top: 12%;
    padding-bottom: 12%;
    margin-top: -5%;      
}

#featuresBanner {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/thebetaisover/bg_01.jpg');
    height: 735px;
}

#mainTrailer { 
    width: 95%;    
}

// Temporary for spacing between images
#gettingStarted {
    padding-top: 5%;
    padding-bottom: 55%;
}

#moreContentBanner {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/blog/play/bg_08.jpg');
    height: 972px;
}

