/* -- HOME STYLES -- */


/* Global Variables */
@import '../../variables';

.container-fluid-custom {
    padding: 0;
}

.banner {
    width: 100%;
    margin-bottom: 10%;
}

.video-banner {
    text-align: center;
}

#MainTrailer { 
    width: 95%;    
}

#titleFrame {
    padding-top: 12%;
    margin-top: -5%;
}

