<div class="container-fluid container-fluid-custom">
    <div class="frame" id="titleFrame">
        <h1 id="createBotsTitle">Create Your Own Bots!</h1><br>
        <p>Tutorial video goes here...</p>
    </div>

    <div class="video-banner mb-5">       
        <iframe id="MainTrailer" src="https://www.youtube.com/embed/SmnqsdeHFT0?rel=0" allowfullscreen="" width="1268" height="713" frameborder="0"></iframe>
    </div>
    <div class="banner mb-5" style="background-image: url('http://cdn.dota2.com/apps/dota2/images/thebetaisover/bg_01.jpg'); height: 735px;">
        <h2>More features</h2>
        
    </div>
    
    <div class="banner mb-5" style="background-image: url('http://cdn.dota2.com/apps/dota2/images/blog/play/bg_08.jpg'); height: 972px;">
        <h2>More content</h2>
    </div>


    <div class="banner mb-5" style="background-image: url('http://cdn.dota2.com/apps/dota2/images/blog/play/bg_06.jpg'); height: 681px;text-align: center;line-height: 681px">
        <span style="display: inline-block;vertical-align: middle;line-height: normal;">
                <h2 style="text-align: center;vertical-align: middle">
                    <img src="https://preview.ibb.co/f7vVQH/Logomakr_0kzm_Ar.png" alt="Logomakr_0kzm_Ar" border="0" width="450">
                </h2>
        </span>
        
       
    </div>

    <div class="frame">
        <br><br><br><br><br><br><br>
    </div>
</div>

