<div class="container-fluid container-fluid-custom">
    <div class="banner-frame banner-video background main-background">
        <h1 id="createBotsTitle">Create Your Own Bots!</h1><br>
        <p>Tutorial video goes here...</p>
        <iframe id="mainTrailer" src="https://www.youtube.com/embed/SmnqsdeHFT0?rel=0" allowfullscreen="" width="1268" height="713" frameborder="0"></iframe>
    </div>

    <div class="banner-frame background" id="featuresBanner">
        <h2>More features</h2>
    </div>

    <div class="banner-frame background main-background" id="gettingStarted">
        <h2>Getting Started</h2>

        <div class="text-left mt-5">
            <h5>How to upload bot scripts locally:</h5>
            <ol>
                <li>Generate the code package: Click the generate button of the bot script you configured</li>
                <li>Navigate to your steam directory:</li>
                <ul>
                    <li>Windows: “C:\Program Files (x86)\Steam” or “C:\Program Files\Steam”</li>
                    <li>Mac: "Users/YOUR_USERNAME/Library/Application Support/Steam"</li>
                </ul>
                <li>Follow the path: “steamapps\common\dota 2 beta\game\dota\scripts\vscripts\bots”. If the "bots" folder cannot be found, simply create one in the "vscripts" directory.</li>
                <li>Extract the zip containing the code into this directory</li>
            </ol>
            <br><br>

            <h5>Start a game with custom bot scripts:</h5>
            <ol>
                <li>Upload bot scripts locally (seen above)</li>
                <li>Launch Dota 2</li>
                <li>Click the Play button, and select Custom Lobby</li>
                <li>Click on the Edit button (small gear add icon)</li>
                <li>You will see a tab labelled “Bot settings”: 
                    <ol>
                        <li>Ensure that the checkbox “fill empty slots with bots” is checked</li>
                        <li>For each side of the map (“radiant” and “dire”), select the bot difficulty</li>
                        <li>On the side(s) of the map where the custom bots are desired to be used, click the dropdown and select the local script option</li>
                    </ol>
                </li>
                <li>Start playing!</li>
            </ol>
        </div>
    </div>
    
    <div class="banner-frame background" id="moreContentBanner">
        <h2>More content</h2>
    </div>    
</div>

