<!-- Start Container Fluid --> 
<div id="dashboardContainer" class="container-fluid container-fluid-custom background main-background">
    <div class="frame" id="dashboardTitle">
        <br>
        <div><h1>DASHBOARD</h1></div>
        <br>
        <button class="button button-new-configuration my-2 my-sm-0" type="button" id="newConfigButton" routerLink="/bot-config">
            <i class="fas fa-plus mr-2"></i>NEW BOT CONFIGURATION
        </button>
    </div>
    <br>
    <div class="frame">
        <div id="accordion" class="card bot-manage-card">
            <!--Heading -->
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>SUMMARY OF YOUR BOTS</h5>
                    </div>
                    <div class="col-sm-6">
                        <div class="dropdown show dropdown-filter float-right">
                            <a class="btn dropdown-filter dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fas fa-filter mr-2"></i>
                                Filter Bots
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-item" (click)="sortBotScripts(-1)">
                                    <i class="fas fa-sort-amount-up mr-2"></i>
                                    Newest First
                                </div>
                                <div class="dropdown-item" (click)="sortBotScripts(1)">
                                    <i class="fas fa-sort-amount-down mr-2"></i>
                                    Oldest First
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Bot list -->
            <ul class="list-group list-group-flush" id="botList">
                <!--Bot item Implementation Notes:
                _______________________________
                headingID format: bot#
                collapseID format: bot#_Collapse
                _______________________________
                Contains obtained from DB: 
                -Title
                -Description 
                -Last Edit:
                
                Buttons:
                ->Edit
                ->Generate script
                ->Delete Script
                -->
                <app-loading *ngIf="isRetrieving" class="loading-icon list-group-item manage-list-group-item"></app-loading>
                <div *ngIf="!isRetrieving && (bots == null || bots.length == 0)">
                    <li class="list-group-item manage-list-group-item text-center">
                        <h5>You currently have no bots</h5>
                    </li>
                </div>
                <div *ngFor="let bot of bots; let i = index;">
                    <li class="list-group-item manage-list-group-item" [attr.id]="'bot'+bot.id" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#bot'+bot.id+'Collapse'">
                        <!--Bot Item Heading-->
                        <div class="row">
                            <div class="col-sm-9">
                                <h5>{{bot.name}}</h5>
                            </div>
                            <div class="col-sm-3">
                                <sub class="float-right">
                                    <i class="far fa-edit mr-1"></i>
                                    {{bot.updatedAt}}
                                </sub>
                            </div>
                        </div>
                        <!--End of Heading-->

                        <!--Bot Item details-->
                        <div class="bot-details collapse in" [attr.id]="'bot'+bot.id+'Collapse'">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>{{bot.description}}</p>
                                </div>
                            </div>
                            <a class="button button-edit mr-2" #elem [attr.id]="'bot'+bot.id+'EditBtn'" [routerLink]="'/bot-config/' + bot.id">
                                <i class="far fa-edit mr-1"></i>
                                Edit
                            </a>
                            <a class="button button-generate mr-2" #elem [attr.id]="'bot'+bot.id+'DownloadBtn'" [href]="bot.generateURL">
                                <i class="fas fa-download mr-1"></i>
                                Generate
                            </a>
                            <a class="button button-cancel" #elem [attr.id]="'bot'+bot.id+'DeleteBtn'" (click)="showDeleteModal(bot.id)">
                                <i class="fas fa-trash-alt mr-1"></i>
                                Delete
                            </a>
                        </div>
                        <!--End of Details-->
                    </li>
                    <!--End of bot item-->
                    <div *ngIf="i == 4 && i == bots.length-1">
                        <a id="viewMore">
                            <li id="viewMoreGroupItem" class="list-group-item manage-list-group-item text-center">
                                <button class="button button-generate" (click)="viewMore()">View More Bots</button>
                            </li>
                        </a>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <div class="modal modal-confirmation fade delete-modal" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="confirmationModal">
                        <i class="fas fa-exclamation-circle "></i>
                        Are you sure you want to delete?
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this bot script?<br/>This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button button-cancel" (click)="deleteBotScript(this.botID)" data-dismiss="modal">Delete</button>
                    <button type="button" class="button button-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Container Fluid -->
