/* 
* Dashboard Component Styles 
*/

/* Global Variables */
@import '../../variables';

/* Title */
#dashboardTitle {
    margin-top: $page-margin-top;
    margin-bottom: $page-margin-bottom;
}

.bot-details {
    margin-top: 1%;
}

.loading-icon {
    text-align: center;
}

#viewMore {
    text-decoration: none;
}

#viewMoreGroupItem:hover {
    background-color: $dark-grey-3 !important;
}

/*
 |--------------------------------------
 | Responsive
 |--------------------------------------
*/
 
@media only screen and (max-width: 750px) { }
 
@media only screen and (max-width: 450px) {
    #newConfigButton {
        font-size: 80%;
    }
}
 
@media only screen and (max-width: 350px) {
    #newConfigButton {
        font-size: 60%;
    }
}

.modal-confirmation .modal-dialog-centered {
    background-color: $btn-general-background-color;
}

/* Modal styles */
.modal-content {
    background: $dark-grey-3;
    color: $light-grey;
}

.modal-header {
    border-bottom: 3px solid $light-grey;
}
