/* Global Variables */
@import '../../variables';

#poolTabs {
    border-bottom-color: $light-grey;
}

.nav-item {
    cursor: pointer;
    width: 20%;    
}

.nav-link.active {
    background-color: $light-grey;    
    border-color: $light-grey;
}

.nav-link.active:hover {
    color: $dark-grey-2;
}

.heroes-card {
    height: 100%;
    background-color: rgba($dark-grey-2, 0.8);
    text-align: left;
    color: $light-grey;  
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;  
}

#heroesTitle {
    color: $grey;
    text-align: center;
}

.drop-zone {
    min-height: 90px;
}

.hero-item {
    display: inline-block;
    margin-right: 5px;
    border: 2px solid $btn-generate-border-color;
    background-color: $black;
    height: 85px;
    width: 120px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;    
}

.hero-item:hover {
    border: 2px solid $btn-generate-border-color-hover;
}

.hero-item .card-header,
.hero-item .card-body {
    padding: 1px;
}

.hero-name {     
    position: absolute;
    bottom: 0;    
    left: 50%;
    transform: translate(-50%, 0);
}

.class-title {
    margin-bottom: 5px;
}

.class-title h6 {
    display: inline-block;
}

.class-title img {
    height: 25px;
}

#removeIcon {
    color: $red;
    float: right;
    z-index: 2;
}

#toggleButtonDiv {        
    margin-left: 9%;
    margin-right: 9%;    
    text-align: right;    
}

#togglePoolsBtn {
    margin-right: 1px !important;
}

/// NEW CSS
.hero-item.selected {
    border: 2px solid white;
}

.hero-item {
    width: 70px;
    height: 81px;
    background-size: cover;
    color: transparent;
    font-size: 8px;
    text-align: center;
}

.hero-item:hover {
    color: white;
    background-image: none!important;
    background-color: black;
}

.ability-roster-image {
    width: 50px;
    height: 50px;
}
.ability-table {
    border: none;
    width: auto;
}

.ability-table tr {
    padding-top: 5px;
}

.ability-table td{
    padding: 0 3px;
    vertical-align: middle;
    border: none;
}

.ability-level {
    display: block;
    color: black;
    font-size: 10px;
    width: 18px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}


.selected-ability {
    background-color: #C09B64;
}

.unselected-open-ability {
    background-color: #606F7A;
}

.unselected-closed-ability {
    background-color: #3D454D;
}

.disabled-ability {
    background-color: #212121;
}

.ability-image-display {
    width: 80px;
    padding-top:20px;
}

.ability-item {
    text-align: center;
}

.selector {
    text-align: center;
}
.buttons {
    display: inline-block;
}

.buttons * {
    display: inline-block;
}

/* Talents stuff */ 
.level {
    color: #f2c58c;
    border-radius: 30px;
    border: 2px solid #353A38;
    padding: 2px;
    background-color: #101314;
    margin: 2px;
    text-align: center;
    width: 35px;
}
.level:hover {
    border: 1px solid #f2c58c;
}

.talent-desc:hover {
    // border: 2px solid #353A38;
    border: 1px solid #f2c58c;
}

.talent-desc {
    border-radius: 10px;
    background-color: #303333;
    width: 200px;
    text-align: center;
}

.talent {
    margin: 5px 0;
}

.talent-table {
    border-spacing: 5px;
}

.talent-selected {
    // background-color: #906C46;
    background: linear-gradient(rgb(147, 114, 69) 0%, rgb(67, 34, 23) 100%);
    color: #fff;
}