<div class="container-fluid container-fluid-custom background main-background">
  <div class="row mt-5 mb-5">
    <div class="col-12" id="heroesTitle">
      <h3>ABILITY CONFIGURATION</h3>
      <br> Select a hero to customize which abilities are being leveled up by the bots
    </div>
  </div>

  <!-- Hero list -->
  <div class="row mb-5">
    <div class="card heroes-card">
      <div class="card-header">
        <h5>HEROES</h5>
      </div>
      <div class="card-body">
        <div class="class-title">
          <img src="https://d1u5p3l4wpay3k.cloudfront.net/dota2_gamepedia/thumb/7/7a/Strength_attribute_symbol.png/30px-Strength_attribute_symbol.png?version=6306b398d1e0dddfd5f3d1719c6e3c71"
            alt="Strength symbol">&nbsp;
          <h6>Strength</h6>
        </div>

        <div class="drop-zone" [sortablejs]="strengthHeroes" [sortablejsOptions]="optionsSource">
          <div class="hero-item" *ngFor="let hero of strengthHeroes">
            <div class="hero-name">
              {{ hero.name }}
            </div>
          </div>
        </div>
        <br>

        <div class="class-title">
          <img src="https://d1u5p3l4wpay3k.cloudfront.net/dota2_gamepedia/thumb/2/2d/Agility_attribute_symbol.png/30px-Agility_attribute_symbol.png?version=2bb35660c66454fc3b024fdb19b9ee29"
            alt="Agility symbol">&nbsp;
          <h6>Agility</h6>
        </div>
        <div class="drop-zone" [sortablejs]="agilityHeroes" [sortablejsOptions]="optionsSource">
          <div class="hero-item" *ngFor="let hero of agilityHeroes">
            <div class="hero-name">
              {{ hero.name }}
            </div>
          </div>
        </div>
        <br>

        <div class="class-title">
          <img src="https://d1u5p3l4wpay3k.cloudfront.net/dota2_gamepedia/thumb/5/56/Intelligence_attribute_symbol.png/30px-Intelligence_attribute_symbol.png?version=aea75b8d40acffb8f90549a9ff6cdecb"
            alt="Intelligence symbol">&nbsp;
          <h6>Intelligence</h6>
        </div>
        <div class="drop-zone" [sortablejs]="intelligenceHeroes" [sortablejsOptions]="optionsSource">
          <div class="hero-item" *ngFor="let hero of intelligenceHeroes">
            <div class="hero-name">
              {{ hero.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- List table -->
  <div class="row mb-5">
       <div class="card heroes-card">
          <div class="card-header">
            <h5>Abilites</h5>
          </div>
            <div class="card-body">
                <div class="col-3 ability-item d-inline" *ngFor="let ability of abilityPrioArray">
                    <div class = "selector col-3">
                        <button class = "btn d-inline" (click)="prioritize(ability.type, 1)">&lt;</button>
                        <div class = "d-inline">{{ ability.type }}</div>
                        <button class = "btn d-inline" (click)="prioritize(ability.type, -1)">&gt;</button>
                    </div>
                    <img class = "img img-thumbnail d-inline ability-image-display" src = "{{ ability.src }}">                       
                </div>
            </div>

            <button class = "btn btn-info" (click)="createArrayFromPrios()">Generate</button>
             <div class="card-body">
                <br>
                <br>
                <table class = "table">
                    <thead>
                        <th>Ability</th>
                        <th *ngFor="let level of abilityToLevelArray; let i = index" [attr.data-index]="i">
                            {{ i + 1 }}
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ability of abilityPrioArray">
                            <td><img class = "img ability-roster-image" src = "{{ ability.src }}"></td>
                            <td *ngFor="let abilitySelected of abilityToLevelArray; let i = index" [attr.data-index]="i" (click)="overwritePrio(i+1, ability.type)">
                                <span class = "selected-ability" *ngIf="abilitySelected==ability.type; else wrong">{{ i+1 }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

          <br>
        </div>
  </div>
</div>
